In [141]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, BigInteger, Sequence, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from typing import List
from typing import Optional
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
import os
from libv3.utils import *
import pandas as pd
import json
import shutil

# Define the base for the declarative model
Base = declarative_base()

# Define the Event class which will be mapped to the events table in the database
class Event(Base):
    __tablename__ = 'events'
    
    id: Mapped[int] = mapped_column(primary_key=True)
    
    name: Mapped[int] = mapped_column(nullable=False)
    timestamp: Mapped[int] = mapped_column(BigInteger, nullable=False)
    file_number: Mapped[int] = mapped_column(ForeignKey("file_config.id")) 

    config: Mapped["File_config"] = relationship(back_populates="events")
    


class File_config(Base):
    __tablename__ = 'file_config'

    id: Mapped[int] = mapped_column(primary_key=True)
    unique_name: Mapped[str] = mapped_column(String(50), nullable=False, unique=True)
    code_base: Mapped[str] = mapped_column(String(50), nullable=False)
    version: Mapped[int] = mapped_column(Integer, nullable=False)
    behaviour: Mapped[str] = mapped_column(String(50), nullable=False)
    trial_num: Mapped[int] = mapped_column(Integer, nullable=False)

    events: Mapped[List["Event"]] = relationship(back_populates="config")


def get_or_create(code_base, version, behaviour, trial_num):
    '''
    Function to get or create a new file_config entry in
    the database. This function will return the existing
    entry if it exists, otherwise it will create a new entry
    and return it.

    Args:
        code_base (str): The code base used to generate the data
        version (int): The version of the code base
        behaviour (str): The behaviour being tested
        trial_num (int): The trial number of the data

    Returns:
        File_config: The file_config entry
        bool: False if the entry was created, True if the entry already existed
    '''
    with Session() as session:
        instance = session.query(File_config).filter_by(unique_name=f'{code_base}_{version}_{behaviour}_{trial_num}').first()
        if instance:
            return instance, True  # Return existing entry
        else:
            new_config = File_config(code_base=code_base,version=version, behaviour=behaviour, trial_num=trial_num, unique_name=f'{code_base}_{version}_{behaviour}_{trial_num}')
            session.add(new_config)
            session.commit()
            return new_config, False  # New config added
        
def check_event_exists(name, timestamp, unique_name):
    '''
    Function to check if an event already exists in the database

    Args:
        name (str): The name of the event
        timestamp (int): The timestamp of the event
        file_number (int): The file number of the event

    Returns:
        bool: True if the event exists, False if it does not
    '''
    with Session() as session:
        file_number = session.query(File_config).filter_by(unique_name=unique_name).first().id
        instance = session.query(Event).filter_by(name=name, timestamp=timestamp, file_number=file_number).first()
        if instance:
            return True
        else:
            return False

/var/folders/nw/443sknns78l256x46fjj6r0c0000gn/T/ipykernel_2062/3485431635.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [428]:
############ configuration ################
############################################

CODE, BEHAVIOUR, THREAD, VER = get_config('lora_ducy_config')   ### config stored in libv3/exp_config.txt
TRIAL = 3

base_dir = '../trace_data' ### can be replaced with 'csv', 'exe_plot', 'histogram'
log_path = base_dir+f'/{CODE}/{THREAD}_thread/version_{VER}/{BEHAVIOUR}/trial{TRIAL}'

print(log_path)

#### file to display
trace_file = 0

print('file number:', trace_file)

CODE: lora_ducy
BEHAVIOUR: faulty_data
THREAD: single
VER: 3
../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3
file number: 0

In [429]:
######### get paths #######################
paths_log, paths_traces, varlist_path, paths_label = get_paths(log_path)

### remove.Ds_store from all lists
paths_log = [x for x in paths_log if '.DS_Store' not in x]
paths_traces = [x for x in paths_traces if '.DS_Store' not in x]
varlist_path = [x for x in varlist_path if '.DS_Store' not in x]
paths_label = [x for x in paths_label if '.DS_Store' not in x]

paths_log.sort()
paths_traces.sort()
varlist_path.sort()

print(paths_log)
print(paths_traces)
print(varlist_path)
print(paths_label)

[]
['../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace0', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace1', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace2', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace3', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace4', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace5', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/trace6']
['../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist0', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist1', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist2', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist3', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist4', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist5', '../trace_data/lora_ducy/single_thread/version_3/faulty_data/trial3/varlist6']
[]

### Load the existing files

In [430]:
### load combined trace file and varlist
all_content = read_traces(f'/Users/saurabh/Documents/Nextcloud/work/Phd tasks/diagnosis tool/trace_data/{CODE}/{THREAD}_thread/version_{VER}/{BEHAVIOUR}/trace_trial{TRIAL}')
varlist_content = read_json(f'/Users/saurabh/Documents/Nextcloud/work/Phd tasks/diagnosis tool/trace_data/{CODE}/{THREAD}_thread/version_{VER}/{BEHAVIOUR}/varlist_trial{TRIAL}.json')

In [431]:
len(all_content)

1745

In [432]:
len(varlist_content)

86

In [433]:
path_to_content = os.path.dirname(log_path)+f'/trace_trial{TRIAL}'
content_towrite = read_traces(path_to_content)
# print(content_towrite)
# Create an SQLite database (or connect to it if it already exists)
database_url = 'sqlite:///events.db'
engine = create_engine(database_url, echo=True)

# Create all tables in the database
Base.metadata.create_all(engine)

# # Create a configured "Session" class
Session = sessionmaker(bind=engine)

config_settings, config_exists = get_or_create(code_base=CODE, version=VER, behaviour=BEHAVIOUR, trial_num=TRIAL)
print(config_settings, config_exists)

if not config_exists:
    with Session.begin() as session:
        for event_name, event_timestamp in all_content:
            print(event_name, event_timestamp)

            # event_exists = check_event_exists(event_name, event_timestamp, f'{CODE}_{VER}_{BEHAVIOUR}_{TRIAL}')
            # if event_exists:
            #     print(f"Event {event_name} at timestamp {event_timestamp} already exists in the database")
            #     break

            event = Event(name=event_name, timestamp=event_timestamp, config=config_settings)
            session.add(event)
else:
    print("Config already exists in the database")

2024-08-29 11:44:52,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-29 11:44:52,482 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-08-29 11:44:52,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-29 11:44:52,487 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("file_config")
2024-08-29 11:44:52,488 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-29 11:44:52,489 INFO sqlalchemy.engine.Engine COMMIT
2024-08-29 11:44:52,493 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-29 11:44:52,497 INFO sqlalchemy.engine.Engine SELECT file_config.id AS file_config_id, file_config.unique_name AS file_config_unique_name, file_config.code_base AS file_config_code_base, file_config.version AS file_config_version, file_config.behaviour AS file_config_behaviour, file_config.trial_num AS file_config_trial_num
FROM file_config
WHERE file_config.unique_name = ?
 LIMIT ? OFFSET ?
2024-08-29 11:44:52,497 INFO sqlalchemy.engine.Engine [generated in 0.00051s] ('lora_ducy_3_faulty_data_3', 1, 0)
2024-08-29 11:44:52,499 INFO sqlalchemy.engine.Engine INSERT INTO file_config (unique_name, code_base, version, behaviour, trial_num) VALUES (?, ?, ?, ?, ?)
2024-08-29 11:44:52,499 INFO sqlalchemy.engine.Engine [generated in 0.00040s] ('lora_ducy_3_faulty_data_3', 'lora_ducy', 3, 'faulty_data', 3)
2024-08-29 11:44:52,500 INFO sqlalchemy.engine.Engine COMMIT

<__main__.File_config object at 0x166e93be0> False
0 44
1 47
2 147
3 430
4 641
5 644
6 649
7 652
8 655
9 657
10 660
11 663
12 665
13 668
14 671
15 673
16 676
17 679
18 681
19 684
20 687
21 689
22 692
23 695
24 697
25 700
26 703
27 706
28 708
29 711
30 714
31 717
32 719
33 722
34 725
35 727
36 730
37 733
38 736
39 739
40 741
41 744
42 747
43 750
44 753
45 755
46 758
47 761
48 764
49 767
50 770
51 773
52 776
53 779
54 785
50 788
51 790
52 793
53 796
54 801
51 804
52 807
53 810
51 812
52 815
53 818
54 823
51 826
52 829
53 832
54 837
51 840
52 843
53 846
54 851
51 853
52 857
53 859
54 864
51 867
52 870
53 873
54 878
51 880
52 884
53 886
54 891
50 894
55 897
54 900
56 968
57 974
58 1277
57 2137
59 2435
60 2438
56 2441
0 2448
61 2458
62 2462
63 2465
38 2468
64 2470
65 2473
66 2476
67 2479
34 2482
68 2484
69 2487
70 2497
71 2500
72 2505
73 2508
22 2522
74 3426
75 3429
61 3432
70 3441
71 3443
72 3448
73 3450
22 3465
74 4368
75 4371
61 4373
70 4382
71 4385
72 4389
73 4391
22 4406
74 5310
75 5313
61 5315
70 5324
71 5327
72 5331
73 5333
22 5347
74 6250
75 6253
61 6255
70 6264
71 6267
72 6271
73 6273
22 6286
74 7190
75 7193
61 7195
70 7204
71 7207
72 7211
73 7213
22 7229
74 8132
75 8135
61 8137
70 8146
71 8149
72 8153
73 8155
22 8170
74 9073
75 9076
61 9078
70 9087
71 9090
72 9094
73 9096
22 9111
74 10015
75 10018
61 10021
70 10029
71 10032
72 10036
73 10039
22 10054
74 10957
75 10960
61 10963
70 10971
71 10974
72 10978
73 10980
22 10995
74 11898
75 11901
61 11903
70 11912
71 11915
72 11919
73 11921
22 11936
74 12839
75 12842
61 12845
70 12853
71 12856
72 12860
73 12862
22 12877
74 13780
75 13783
61 13786
70 13795
71 13797
72 13801
73 13804
22 13818
74 14329
75 14347
41 14353
42 14355
37 14362
21 14365
34 14367
61 14370
23 14372
0 14379
76 20983
28 20987
56 20989
57 20995
58 21299
57 22159
59 22457
60 22460
56 22462
0 22468
38 22472
23 22474
28 22477
0 22483
57 39947
58 40249
57 41109
59 41407
60 41410
56 41412
0 41420
38 41423
23 41426
28 41429
0 41435
57 59957
58 60261
57 61121
59 61419
60 61424
56 61426
0 61434
61 61444
62 61447
63 61450
38 61452
64 61454
54 61457
65 61459
66 61462
67 61464
34 61467
68 61469
69 61472
70 61481
71 61483
72 61487
73 61490
22 61502
74 62406
75 62409
61 62412
70 62420
71 62423
72 62427
73 62430
22 62445
74 63348
75 63351
61 63353
70 63362
71 63365
72 63369
73 63372
22 63386
74 64289
75 64292
61 64294
70 64303
71 64306
72 64310
73 64313
22 64327
74 65230
75 65233
61 65235
70 65244
71 65247
72 65251
73 65253
22 65266
74 66170
75 66173
61 66175
70 66184
71 66187
72 66191
73 66193
22 66209
74 67112
75 67115
61 67117
70 67126
71 67129
72 67133
73 67135
22 67150
74 68053
75 68056
61 68059
70 68067
71 68070
72 68074
73 68076
22 68091
74 68994
75 68997
61 68999
70 69008
71 69011
72 69015
73 69018
22 69032
74 69935
75 69938
61 69940
70 69949
71 69952
72 69956
73 69958
22 69973
74 70876
75 70879
61 70881
70 70890
71 70893
72 70897
73 70899
22 70914
74 71818
75 71821
61 71823
70 71832
71 71835
72 71839
73 71841
22 71857
74 72761
75 72764
61 72767
70 72775
71 72778
72 72782
73 72785
22 72800
74 73703
75 73706
61 73708
70 73717
71 73720
72 73724
73 73726
22 73741
74 74644
75 74647
61 74650
70 74658
71 74661
72 74665
73 74668
22 74682
74 75585
75 75588
61 75590
70 75599
71 75602
72 75606
73 75608
22 75623
74 76527
75 76530
61 76532
70 76541
71 76544
72 76548
73 76550
22 76566
74 77469
75 77472
61 77475
70 77483
71 77486
72 77490
73 77493
22 77507
74 78410
75 78413
61 78415
70 78424
71 78427
72 78431
73 78433
22 78448
74 79351
75 79354
61 79356
70 79365
71 79368
72 79372
73 79374
22 79389
74 80292
75 80295
61 80297
70 80306
71 80309
72 80313
73 80315
22 80330
64 80332
31 80335
74 81239
75 81242
61 81244
26 81248
23 81250
0 81257
76 99964
28 99967
56 99970
57 99976
58 100278
57 101138
59 101437
60 101440
56 101444
0 101452
38 101457
23 101461
28 101464
0 101470
57 118938
58 119240
57 120100
59 120402
60 120405
56 120407
0 120413
77 120416
78 120419
38 120425
0 121418
38 121421
79 121423
30 121436
74 122339
75 122341
23 122345
83 122347
28 122350
0 122357
57 138954
58 139258
57 140118
59 140416
56 140418
0 140425
61 140435
62 140438
63 140441
38 140443
64 140445
65 140448
66 140451
67 140453
34 140455
68 140458
69 140460
70 140469
71 140472
72 140476
73 140479
22 140491
74 141395
75 141398
61 141401
70 141409
71 141412
72 141416
73 141419
22 141434
74 142338
75 142341
61 142344
70 142352
71 142355
72 142359
73 142362
22 142377
74 143281
75 143284
61 143286
70 143295
71 143298
72 143302
73 143304
22 143320
74 144223
75 144226
61 144228
70 144237
71 144240
72 144244
73 144246
22 144259
74 145163
75 145166
61 145168
70 145177
71 145180
72 145184
73 145186
22 145202
74 146105
75 146108
61 146110
70 146119
71 146122
72 146126
73 146129
22 146143
74 147047
75 147050
61 147052
70 147061
71 147064
72 147068
73 147070
22 147086
74 147989
75 147992
61 147994
70 148003
71 148006
72 148010
73 148012
22 148027
74 148930
75 148933
61 148935
70 148944
71 148947
72 148951
73 148953
22 148968
74 149871
75 149874
61 149876
70 149885
71 149888
72 149892
73 149894
22 149909
74 150812
75 150815
61 150817
70 150826
71 150829
72 150833
73 150836
22 150850
74 151754
75 151757
61 151760
70 151768
71 151771
72 151775
73 151778
22 151793
74 152696
75 152699
61 152701
70 152710
71 152713
72 152717
73 152719
22 152734
74 153637
75 153640
61 153642
70 153651
71 153654
72 153658
73 153660
22 153675
74 154579
75 154582
61 154584
70 154593
71 154596
72 154600
73 154602
22 154618
74 155521
75 155524
61 155526
70 155535
71 155538
72 155542
73 155544
22 155559
74 156463
75 156466
61 156468
70 156477
71 156480
72 156484
73 156486
22 156502
74 157405
75 157408
61 157410
70 157419
71 157422
72 157426
73 157428
22 157443
74 158347
75 158350
61 158352
70 158361
71 158364
72 158368
73 158370
22 158386
74 159289
75 159292
61 159294
70 159303
71 159306
72 159310
73 159313
22 159327
64 159329
31 159332
74 160235
75 160238
61 160240
26 160244
23 160246
0 160254
76 178962
28 178964
56 178967
57 178973
58 179279
57 180139
59 180438
60 180441
56 180443
0 180450
61 180460
62 180463
63 180466
38 180468
64 180471
65 180474
66 180476
67 180479
34 180481
68 180484
69 180486
70 180495
71 180498
72 180502
73 180505
22 180518
74 181422
75 181425
61 181428
70 181437
71 181439
72 181444
73 181446
22 181461
74 182365
75 182368
61 182371
70 182380
71 182382
72 182387
73 182390
22 182404
74 183308
75 183311
61 183314
70 183323
71 183325
72 183330
73 183332
22 183347
74 184251
75 184254
61 184257
70 184265
71 184268
72 184272
73 184275
22 184288
74 185192
75 185195
61 185198
70 185207
71 185209
72 185213
73 185216
22 185231
74 186135
75 186138
61 186141
70 186149
71 186152
72 186156
73 186159
22 186174
74 187078
75 187081
61 187084
70 187093
71 187095
72 187099
73 187102
22 187117
74 188021
75 188024
61 188027
70 188036
71 188038
72 188042
73 188045
22 188060
74 188964
75 188967
61 188970
70 188978
71 188981
72 188985
73 188988
22 189003
74 189907
75 189910
61 189913
70 189922
71 189924
72 189928
73 189931
22 189946
74 190850
75 190853
61 190856
70 190864
71 190867
72 190872
73 190874
22 190889
74 191793
75 191796
61 191799
70 191808
71 191810
72 191814
73 191818
22 191832
74 192343
75 192360
41 192366
42 192369
37 192376
21 192379
34 192382
61 192384
23 192387
0 192393
76 198983
28 198986
56 198989
57 198995
59 199293
60 199296
56 199299
0 199305
77 199309
78 199312
38 199318
0 200310
38 200313
79 200316
30 201494
74 202398
75 202400
23 202404
83 202407
28 202409
0 202417
57 217935
58 218237
57 219097
59 219395
60 219398
56 219400
0 219406
38 219409
23 219412
28 219415
0 219421
57 237943
58 238245
57 239105
59 239407
60 239410
56 239412
0 239418
77 239421
78 239424
38 239430
0 240419
38 240422
79 240424
30 240441
74 241345
75 241347
23 241351
83 241353
28 241356
0 241362
57 257959
58 258261
57 259121
59 259419
56 259422
0 259428
61 259438
62 259441
63 259444
38 259446
64 259449
54 259451
65 259456
66 259459
67 259461
34 259464
68 259466
69 259469
0 259476
25 267781
74 268685
75 268688
61 268691
24 268693
67 268696
0 268703
57 268709
58 269010
57 269870
70 270175
71 270177
72 270182
73 270184
22 270198
69 270201
74 271104
75 271107
61 271109
70 271118
71 271121
72 271125
73 271128
22 271135
69 271138
74 272048
75 272051
61 272053
70 272063
71 272065
72 272069
73 272072
22 272080
69 272083
74 272993
75 272996
61 272999
70 273008
71 273010
72 273014
73 273017
22 273025
69 273028
74 273937
75 273940
61 273943
41 273945
42 273948
26 273951
23 273953
0 273961
76 277968
28 277971
56 277974
57 277979
58 278284
57 279144
59 279442
60 279445
56 279448
0 279455
38 279458
23 279461
28 279464
0 279470
57 297992
58 298296
57 299156
59 299454
60 299457
56 299459
0 299467
61 299478
62 299481
63 299485
38 299488
64 299491
65 299493
66 299496
67 299498
34 299501
68 299503
69 299506
70 299515
71 299517
72 299521
73 299524
22 299537
74 300441
75 300444
61 300447
70 300456
71 300458
72 300463
73 300465
22 300480
74 301384
75 301387
61 301390
70 301398
71 301401
72 301405
73 301408
22 301423
74 302327
75 302330
61 302333
70 302342
71 302344
72 302348
73 302351
22 302366
74 303270
75 303273
61 303276
70 303285
71 303287
72 303291
73 303294
22 303307
74 304211
75 304214
61 304217
70 304225
71 304228
72 304232
73 304235
22 304250
74 305154
75 305157
61 305160
70 305169
71 305171
72 305176
73 305178
22 305193
74 306097
75 306100
61 306103
70 306111
71 306114
72 306118
73 306121
22 306136
74 307040
75 307043
61 307046
70 307055
71 307057
72 307061
73 307064
22 307079
74 307983
75 307986
61 307989
70 307998
71 308000
72 308004
73 308007
22 308022
74 308926
75 308929
61 308932
70 308940
71 308943
72 308948
73 308950
22 308965
74 309869
75 309872
61 309875
70 309884
71 309886
72 309890
73 309893
22 309908
74 310812
75 310815
61 310818
70 310826
71 310829
72 310833
73 310836
22 310851
74 311755
75 311758
61 311761
70 311770
71 311772
72 311776
73 311779
22 311794
74 312698
75 312701
61 312703
70 312713
71 312715
72 312719
73 312722
22 312737
74 313641
75 313644
61 313647
70 313656
71 313658
72 313663
73 313665
22 313680
74 314584
75 314587
61 314590
70 314599
71 314601
72 314605
73 314608
22 314623
74 315527
75 315530
61 315533
70 315541
71 315544
72 315548
73 315551
22 315566
74 316470
75 316473
61 316476
70 316485
71 316487
72 316491
73 316494
22 316509
74 317413
75 317416
61 317419
70 317428
71 317430
72 317435
73 317437
22 317452
74 318356
75 318359
61 318362
70 318371
71 318373
72 318378
73 318380
22 318395
64 318397
31 318400
74 319304
75 319307
61 319310
26 319313
23 319315
0 319322
76 338001
28 338004
56 338007
57 338013
58 338317
57 339177
59 339475
60 339478
56 339480
0 339488
38 339491
23 339494
28 339496
0 339503
57 357037
58 357339
57 358199
59 358497
60 358500
56 358502
0 358508
61 358518
62 358521
63 358524
38 358526
64 358528
65 358531
66 358534
67 358536
34 358539
68 358541
69 358543
70 358552
71 358555
72 358559
73 358562
22 358574
74 359478
75 359481
61 359484
70 359492
71 359495
72 359499
73 359501
22 359517
74 360420
75 360423
61 360425
70 360434
71 360437
72 360441
73 360443
22 360458
74 361362
75 361365
61 361367
70 361376
71 361379
72 361383
73 361385
22 361401
74 362304
75 362307
61 362309
70 362318
71 362321
72 362325
73 362327
22 362340
74 363244
75 363247
61 363249
70 363258
71 363261
72 363265
73 363267
22 363283
74 364186
75 364189
61 364191
70 364200
71 364203
72 364207
73 364209
22 364224
74 365127
75 365130
61 365132
70 365141
71 365144
72 365148
73 365151
22 365165
74 366068
75 366071
61 366074
70 366082
71 366085
72 366089
73 366092
22 366106
74 367009
75 367012
61 367014
70 367023
71 367026
72 367030
73 367032
22 367047
74 367950
75 367953
61 367955
70 367964
71 367967
72 367971
73 367973
22 367988
74 368891
75 368894
61 368896
70 368905
71 368908
72 368912
73 368914
22 368929
74 369832
75 369835
61 369838
70 369846
71 369849
72 369853
73 369856
22 369870
74 370774
75 370777
61 370779
70 370788
71 370791
72 370795
73 370797
22 370813
74 371716
75 371719
61 371721
70 371730
71 371733
72 371737
73 371739
22 371754
74 372265
75 372283
41 372289
42 372291
37 372299
21 372301
34 372304
61 372306
23 372309
0 372315
76 377043
28 377046
56 377049
57 377055
58 377357
57 378217
59 378515
60 378518
56 378520
0 378526
38 378529
23 378532
28 378535
0 378541
57 397063
58 397367
57 398227
59 398525
60 398528
56 398530
0 398536
38 398539
23 398542
28 398545
0 398551
57 417073
58 417377
57 418237
59 418539
60 418542
56 418544
0 418550
77 418553
78 418556
38 418562
0 419551
38 419554
79 419556
30 419571
74 420475
75 420477
23 420481
83 420483
28 420486
0 420494
57 437084
58 437388
57 438248
59 438546
56 438549
0 438555
61 438565
62 438568
63 438571
38 438573
64 438576
54 438578
65 438581
66 438583
67 438586
34 438588
68 438591
69 438593
0 438601
25 446920
74 447824
75 447827
61 447829
24 447832
67 447835
0 447842
57 447848
58 448151
57 449011
70 449317
71 449319
72 449324
73 449326
22 449339
69 449342
74 450245
75 450248
61 450250
70 450259
71 450262
72 450266
73 450269
22 450276
69 450279
74 451188
75 451191
61 451193
70 451203
71 451205
72 451209
73 451212
22 451219
69 451222
74 452131
75 452134
61 452136
70 452146
71 452148
72 452152
73 452155
22 452162
69 452165
74 453072
75 453075
61 453077
41 453080
42 453083
26 453086
23 453088
0 453094
76 457094
28 457097
56 457100
57 457105
58 457412
57 458272
59 458570
60 458573
56 458576
0 458583
38 458586
23 458589
28 458592
0 458598
57 476054
58 476356
57 477216
59 477514
60 477517
56 477519
0 477525
61 477535
62 477538
63 477541
38 477543
64 477545
65 477548
66 477551
67 477553
34 477556
68 477558
69 477560
70 477569
71 477572
72 477576
73 477578
22 477590
74 478494
75 478497
61 478500
70 478508
71 478511
72 478515
73 478517
22 478530
74 479434
75 479437
61 479439
70 479448
71 479451
72 479455
73 479457
22 479471
74 480375
75 480378
61 480381
70 480389
71 480392
72 480396
73 480398
22 480410
74 481314
75 481317
61 481319
70 481328
71 481331
72 481335
73 481337
22 481350
74 482254
75 482257
61 482259
70 482268
71 482271
72 482275
73 482277
22 482290
74 483194
75 483197
61 483200
70 483208
71 483211
72 483215
73 483217
22 483231
74 484135
75 484138
61 484140
70 484149
71 484152
72 484156
73 484158
22 484170
74 485074
75 485077
61 485079
70 485088
71 485091
72 485095
73 485097
22 485111
74 486015
75 486018
61 486020
70 486029
71 486032
72 486036
73 486038
22 486050
74 486954
75 486957
61 486959
70 486968
71 486971
72 486975
73 486977
22 486991
74 487895
75 487898
61 487900
70 487909
71 487912
72 487916
73 487918
22 487932
74 488836
75 488839
61 488841
70 488850
71 488853
72 488857
73 488859
22 488873
74 489777
75 489780
61 489783
70 489791
71 489794
72 489798
73 489801
22 489814
74 490718
75 490721
61 490723
70 490732
71 490735
72 490739
73 490741
22 490755
74 491659
75 491662
61 491664
70 491673
71 491676
72 491680
73 491682
22 491694
74 492598
75 492601
61 492604
70 492612
71 492615
72 492619
73 492621
22 492635
74 493539
75 493542
61 493545
70 493553
71 493556
72 493560
73 493562
22 493574
74 494478
75 494481
61 494484
70 494492
71 494495
72 494499
73 494502
22 494515
74 495419
75 495422
61 495424
70 495433
71 495436
72 495440
73 495442
22 495454
74 496358
75 496361
61 496363
70 496372
71 496375
72 496379
73 496381
22 496395
64 496398
31 496400
74 497304
75 497307
61 497309
26 497313
23 497315
0 497322
76 516064
28 516067
56 516070
57 516076
58 516380
57 517240
59 517538
60 517541
56 517543
0 517551
38 517554
23 517557
28 517559
0 517566
57 535030
58 535332
57 536192
59 536490
60 536493
56 536495
0 536501
61 536511
62 536514
63 536517
38 536519
64 536522
65 536524
66 536527
67 536529
34 536532
68 536534
69 536536
70 536545
71 536548
72 536552
73 536554
22 536566
74 537470
75 537473
61 537476
70 537484
71 537487
72 537491
73 537493
22 537506
74 538410
75 538413
61 538415
70 538424
71 538427
72 538431
73 538433
22 538445
74 539349
75 539352
61 539354
70 539363
71 539366
72 539370
73 539372
22 539384
74 540288
75 540291
61 540293
70 540302
71 540305
72 540309
73 540311
22 540322
74 541226
75 541229
61 541231
70 541240
71 541242
72 541247
73 541249
22 541262
74 542166
75 542169
61 542171
70 542180
71 542183
72 542187
73 542189
22 542201
74 543105
75 543108
61 543110
70 543119
71 543122
72 543126
73 543128
22 543140
74 543653
75 543670
41 543674
42 543677
37 543683
21 543686
34 543688
61 543691
23 543694
0 543701
76 555037
28 555040
56 555043
57 555048
58 555351
57 556211
59 556509
60 556512
56 556514
0 556520
38 556523
23 556526
28 556529
0 556535
57 575057
58 575361
57 576221
59 576521
60 576524
56 576527
0 576534
38 576538
23 576540
28 576543
0 576549
57 595071
59 595369
60 595371
56 595374
0 595381
77 595384
78 595387
38 595393
0 596382
38 596385
79 596387
30 597570
74 598474
75 598476
23 598480
83 598482
28 598485
0 598493
2024-08-29 11:44:52,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-29 11:44:52,588 INFO sqlalchemy.engine.Engine SELECT file_config.id AS file_config_id, file_config.unique_name AS file_config_unique_name, file_config.code_base AS file_config_code_base, file_config.version AS file_config_version, file_config.behaviour AS file_config_behaviour, file_config.trial_num AS file_config_trial_num
FROM file_config
WHERE file_config.id = ?
2024-08-29 11:44:52,588 INFO sqlalchemy.engine.Engine [generated in 0.00040s] (32,)
2024-08-29 11:44:52,846 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,846 INFO sqlalchemy.engine.Engine [generated in 0.00229s (insertmanyvalues) 1/1745 (ordered; batch not supported)] (0, 44, 32)
2024-08-29 11:44:52,847 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,848 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/1745 (ordered; batch not supported)] (1, 47, 32)
2024-08-29 11:44:52,849 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,851 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/1745 (ordered; batch not supported)] (2, 147, 32)
2024-08-29 11:44:52,853 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,853 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/1745 (ordered; batch not supported)] (3, 430, 32)
2024-08-29 11:44:52,854 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,854 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/1745 (ordered; batch not supported)] (4, 641, 32)
2024-08-29 11:44:52,855 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,855 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/1745 (ordered; batch not supported)] (5, 644, 32)
2024-08-29 11:44:52,856 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,857 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/1745 (ordered; batch not supported)] (6, 649, 32)
2024-08-29 11:44:52,857 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,857 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/1745 (ordered; batch not supported)] (7, 652, 32)
2024-08-29 11:44:52,858 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,859 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/1745 (ordered; batch not supported)] (8, 655, 32)
2024-08-29 11:44:52,860 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id
2024-08-29 11:44:52,861 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/1745 (ordered; batch not supported)] (9, 657, 32)
2024-08-29 11:44:52,863 INFO sqlalchemy.engine.Engine INSERT INTO events (name, timestamp, file_number) VALUES (?, ?, ?) RETURNING id

In [434]:
#### query the database


with Session.begin() as session:
    results = session.query(File_config).all()
    for i in results:
        print(i.code_base, i.version, i.behaviour, i.trial_num, i.id)

2024-08-29 11:48:11,145 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-29 11:48:11,149 INFO sqlalchemy.engine.Engine SELECT file_config.id AS file_config_id, file_config.unique_name AS file_config_unique_name, file_config.code_base AS file_config_code_base, file_config.version AS file_config_version, file_config.behaviour AS file_config_behaviour, file_config.trial_num AS file_config_trial_num
FROM file_config
2024-08-29 11:48:11,150 INFO sqlalchemy.engine.Engine [generated in 0.00079s] ()
theft_protection 3 normal 1 3
theft_protection 3 faulty_data 1 4
theft_protection 3 faulty_data 2 5
theft_protection 3 faulty_data 3 6
mamba2 3 normal 1 14
mamba2 3 normal 2 15
mamba2 3 faulty_data 1 16
mamba2 3 faulty_data 2 17
mamba2 3 faulty_data 4 19
mamba2 3 faulty_data 3 20
lora_ducy 3 normal 1 21
lora_ducy 3 normal 2 22
lora_ducy 3 normal 3 23
lora_ducy 3 normal 4 24
lora_ducy 3 normal 5 25
lora_ducy 3 normal 6 26
lora_ducy 3 normal 7 27
lora_ducy 3 normal 8 28
lora_ducy 3 normal 9 29
lora_ducy 3 faulty_data 1 30
lora_ducy 3 faulty_data 2 31
lora_ducy 3 faulty_data 3 32
2024-08-29 11:48:11,152 INFO sqlalchemy.engine.Engine COMMIT

In [393]:
# #### delete entries

# to_delete = 29

# with Session.begin() as session:
#     results = session.query(Event).all()
#     file_deleted = False
#     for i in results:
#         if i.file_number == to_delete:
#             print(i.name, i.timestamp, i.file_number, 'deleted')
#             session.delete(i)
#             file_deleted = True

#     if not file_deleted:
#         print('File config does not exist')

# with Session.begin() as session:
#     results = session.query(File_config).all()
#     event_deleted = False
#     for i in results:
#         if i.id == to_delete:
#             print(i.code_base, i.version, i.behaviour, i.trial_num, i.id, 'deleted')
#             session.delete(i)
#             event_deleted = True
            
#     if not event_deleted:
#         print('Event does not exist')

2024-08-29 11:40:51,712 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-29 11:40:51,714 INFO sqlalchemy.engine.Engine SELECT events.id AS events_id, events.name AS events_name, events.timestamp AS events_timestamp, events.file_number AS events_file_number
FROM events
2024-08-29 11:40:51,715 INFO sqlalchemy.engine.Engine [cached since 5388s ago] ()
0 44 29 deleted
1 47 29 deleted
2 147 29 deleted
3 430 29 deleted
4 641 29 deleted
5 644 29 deleted
6 649 29 deleted
7 652 29 deleted
8 655 29 deleted
9 657 29 deleted
10 660 29 deleted
11 663 29 deleted
12 665 29 deleted
13 668 29 deleted
14 671 29 deleted
15 673 29 deleted
16 676 29 deleted
17 679 29 deleted
18 681 29 deleted
19 684 29 deleted
20 687 29 deleted
21 689 29 deleted
22 692 29 deleted
23 695 29 deleted
24 697 29 deleted
25 700 29 deleted
26 703 29 deleted
27 706 29 deleted
28 708 29 deleted
29 711 29 deleted
30 714 29 deleted
31 717 29 deleted
32 719 29 deleted
33 722 29 deleted
34 725 29 deleted
35 727 29 deleted
36 730 29 deleted
37 733 29 deleted
38 736 29 deleted
39 739 29 deleted
40 741 29 deleted
41 744 29 deleted
42 747 29 deleted
43 750 29 deleted
44 753 29 deleted
45 755 29 deleted
46 758 29 deleted
47 761 29 deleted
48 764 29 deleted
49 767 29 deleted
50 770 29 deleted
51 773 29 deleted
52 776 29 deleted
53 779 29 deleted
54 785 29 deleted
50 788 29 deleted
51 790 29 deleted
52 793 29 deleted
53 796 29 deleted
54 801 29 deleted
51 804 29 deleted
52 807 29 deleted
53 810 29 deleted
51 812 29 deleted
52 815 29 deleted
53 818 29 deleted
54 823 29 deleted
51 826 29 deleted
52 829 29 deleted
53 832 29 deleted
54 837 29 deleted
51 840 29 deleted
52 843 29 deleted
53 846 29 deleted
54 851 29 deleted
51 853 29 deleted
52 857 29 deleted
53 859 29 deleted
54 864 29 deleted
51 867 29 deleted
52 870 29 deleted
53 873 29 deleted
54 878 29 deleted
51 880 29 deleted
52 884 29 deleted
53 886 29 deleted
54 891 29 deleted
50 894 29 deleted
55 897 29 deleted
54 900 29 deleted
56 968 29 deleted
57 974 29 deleted
58 1277 29 deleted
57 2137 29 deleted
59 2435 29 deleted
60 2438 29 deleted
56 2441 29 deleted
0 2448 29 deleted
61 2458 29 deleted
62 2462 29 deleted
63 2465 29 deleted
38 2468 29 deleted
64 2470 29 deleted
65 2473 29 deleted
66 2476 29 deleted
67 2479 29 deleted
34 2482 29 deleted
68 2484 29 deleted
69 2487 29 deleted
70 2497 29 deleted
71 2500 29 deleted
72 2505 29 deleted
73 2508 29 deleted
22 2522 29 deleted
74 3426 29 deleted
75 3429 29 deleted
61 3432 29 deleted
70 3441 29 deleted
71 3443 29 deleted
72 3448 29 deleted
73 3450 29 deleted
22 3465 29 deleted
74 4368 29 deleted
75 4371 29 deleted
61 4373 29 deleted
70 4382 29 deleted
71 4385 29 deleted
72 4389 29 deleted
73 4391 29 deleted
22 4406 29 deleted
74 5310 29 deleted
75 5313 29 deleted
61 5315 29 deleted
70 5324 29 deleted
71 5327 29 deleted
72 5331 29 deleted
73 5333 29 deleted
22 5347 29 deleted
74 6250 29 deleted
75 6253 29 deleted
61 6255 29 deleted
70 6264 29 deleted
71 6267 29 deleted
72 6271 29 deleted
73 6273 29 deleted
22 6286 29 deleted
74 7190 29 deleted
75 7193 29 deleted
61 7195 29 deleted
70 7204 29 deleted
71 7207 29 deleted
72 7211 29 deleted
73 7213 29 deleted
22 7229 29 deleted
74 8132 29 deleted
75 8135 29 deleted
61 8137 29 deleted
70 8146 29 deleted
71 8149 29 deleted
72 8153 29 deleted
73 8155 29 deleted
22 8170 29 deleted
74 9073 29 deleted
75 9076 29 deleted
61 9078 29 deleted
70 9087 29 deleted
71 9090 29 deleted
72 9094 29 deleted
73 9096 29 deleted
22 9111 29 deleted
74 10015 29 deleted
75 10018 29 deleted
61 10021 29 deleted
70 10029 29 deleted
71 10032 29 deleted
72 10036 29 deleted
73 10039 29 deleted
22 10054 29 deleted
74 10957 29 deleted
75 10960 29 deleted
61 10963 29 deleted
70 10971 29 deleted
71 10974 29 deleted
72 10978 29 deleted
73 10980 29 deleted
22 10995 29 deleted
74 11898 29 deleted
75 11901 29 deleted
61 11903 29 deleted
70 11912 29 deleted
71 11915 29 deleted
72 11919 29 deleted
73 11921 29 deleted
22 11936 29 deleted
74 12839 29 deleted
75 12842 29 deleted
61 12845 29 deleted
70 12853 29 deleted
71 12856 29 deleted
72 12860 29 deleted
73 12862 29 deleted
22 12877 29 deleted
74 13780 29 deleted
75 13783 29 deleted
61 13786 29 deleted
70 13795 29 deleted
71 13797 29 deleted
72 13801 29 deleted
73 13804 29 deleted
22 13818 29 deleted
74 14329 29 deleted
75 14347 29 deleted
41 14353 29 deleted
42 14355 29 deleted
37 14362 29 deleted
21 14365 29 deleted
34 14367 29 deleted
61 14370 29 deleted
23 14372 29 deleted
0 14379 29 deleted
76 20983 29 deleted
28 20987 29 deleted
56 20989 29 deleted
57 20995 29 deleted
58 21299 29 deleted
57 22159 29 deleted
59 22457 29 deleted
60 22460 29 deleted
56 22462 29 deleted
0 22468 29 deleted
38 22472 29 deleted
23 22474 29 deleted
28 22477 29 deleted
0 22483 29 deleted
57 39947 29 deleted
58 40249 29 deleted
57 41109 29 deleted
59 41407 29 deleted
60 41410 29 deleted
56 41412 29 deleted
0 41420 29 deleted
38 41423 29 deleted
23 41426 29 deleted
28 41429 29 deleted
0 41435 29 deleted
57 59957 29 deleted
58 60261 29 deleted
57 61121 29 deleted
59 61419 29 deleted
60 61424 29 deleted
56 61426 29 deleted
0 61434 29 deleted
61 61444 29 deleted
62 61447 29 deleted
63 61450 29 deleted
38 61452 29 deleted
64 61454 29 deleted
54 61457 29 deleted
65 61459 29 deleted
66 61462 29 deleted
67 61464 29 deleted
34 61467 29 deleted
68 61469 29 deleted
69 61472 29 deleted
70 61481 29 deleted
71 61483 29 deleted
72 61487 29 deleted
73 61490 29 deleted
22 61502 29 deleted
74 62406 29 deleted
75 62409 29 deleted
61 62412 29 deleted
70 62420 29 deleted
71 62423 29 deleted
72 62427 29 deleted
73 62430 29 deleted
22 62445 29 deleted
74 63348 29 deleted
75 63351 29 deleted
61 63353 29 deleted
70 63362 29 deleted
71 63365 29 deleted
72 63369 29 deleted
73 63372 29 deleted
22 63386 29 deleted
74 64289 29 deleted
75 64292 29 deleted
61 64294 29 deleted
70 64303 29 deleted
71 64306 29 deleted
72 64310 29 deleted
73 64313 29 deleted
22 64327 29 deleted
74 65230 29 deleted
75 65233 29 deleted
61 65235 29 deleted
70 65244 29 deleted
71 65247 29 deleted
72 65251 29 deleted
73 65253 29 deleted
22 65266 29 deleted
74 66170 29 deleted
75 66173 29 deleted
61 66175 29 deleted
70 66184 29 deleted
71 66187 29 deleted
72 66191 29 deleted
73 66193 29 deleted
22 66209 29 deleted
74 67112 29 deleted
75 67115 29 deleted
61 67117 29 deleted
70 67126 29 deleted
71 67129 29 deleted
72 67133 29 deleted
73 67135 29 deleted
22 67150 29 deleted
74 68053 29 deleted
75 68056 29 deleted
61 68059 29 deleted
70 68067 29 deleted
71 68070 29 deleted
72 68074 29 deleted
73 68076 29 deleted
22 68091 29 deleted
74 68994 29 deleted
75 68997 29 deleted
61 68999 29 deleted
70 69008 29 deleted
71 69011 29 deleted
72 69015 29 deleted
73 69018 29 deleted
22 69032 29 deleted
74 69935 29 deleted
75 69938 29 deleted
61 69940 29 deleted
70 69949 29 deleted
71 69952 29 deleted
72 69956 29 deleted
73 69958 29 deleted
22 69973 29 deleted
74 70876 29 deleted
75 70879 29 deleted
61 70881 29 deleted
70 70890 29 deleted
71 70893 29 deleted
72 70897 29 deleted
73 70899 29 deleted
22 70914 29 deleted
74 71818 29 deleted
75 71821 29 deleted
61 71823 29 deleted
70 71832 29 deleted
71 71835 29 deleted
72 71839 29 deleted
73 71841 29 deleted
22 71857 29 deleted
74 72761 29 deleted
75 72764 29 deleted
61 72767 29 deleted
70 72775 29 deleted
71 72778 29 deleted
72 72782 29 deleted
73 72785 29 deleted
22 72800 29 deleted
74 73703 29 deleted
75 73706 29 deleted
61 73708 29 deleted
70 73717 29 deleted
71 73720 29 deleted
72 73724 29 deleted
73 73726 29 deleted
22 73741 29 deleted
74 74644 29 deleted
75 74647 29 deleted
61 74650 29 deleted
70 74658 29 deleted
71 74661 29 deleted
72 74665 29 deleted
73 74668 29 deleted
22 74682 29 deleted
74 75585 29 deleted
75 75588 29 deleted
61 75590 29 deleted
70 75599 29 deleted
71 75602 29 deleted
72 75606 29 deleted
73 75608 29 deleted
22 75623 29 deleted
74 76527 29 deleted
75 76530 29 deleted
61 76532 29 deleted
70 76541 29 deleted
71 76544 29 deleted
72 76548 29 deleted
73 76550 29 deleted
22 76566 29 deleted
74 77469 29 deleted
75 77472 29 deleted
61 77475 29 deleted
70 77483 29 deleted
71 77486 29 deleted
72 77490 29 deleted
73 77493 29 deleted
22 77507 29 deleted
74 78410 29 deleted
75 78413 29 deleted
61 78415 29 deleted
70 78424 29 deleted
71 78427 29 deleted
72 78431 29 deleted
73 78433 29 deleted
22 78448 29 deleted
74 79351 29 deleted
75 79354 29 deleted
61 79356 29 deleted
70 79365 29 deleted
71 79368 29 deleted
72 79372 29 deleted
73 79374 29 deleted
22 79389 29 deleted
74 80292 29 deleted
75 80295 29 deleted
61 80297 29 deleted
70 80306 29 deleted
71 80309 29 deleted
72 80313 29 deleted
73 80315 29 deleted
22 80330 29 deleted
64 80332 29 deleted
31 80335 29 deleted
74 81239 29 deleted
75 81242 29 deleted
61 81244 29 deleted
26 81248 29 deleted
23 81250 29 deleted
0 81257 29 deleted
76 99964 29 deleted
28 99967 29 deleted
56 99970 29 deleted
57 99976 29 deleted
58 100278 29 deleted
57 101138 29 deleted
59 101437 29 deleted
60 101440 29 deleted
56 101444 29 deleted
0 101452 29 deleted
38 101457 29 deleted
23 101461 29 deleted
28 101464 29 deleted
0 101470 29 deleted
57 118938 29 deleted
58 119240 29 deleted
57 120100 29 deleted
59 120402 29 deleted
60 120405 29 deleted
56 120407 29 deleted
0 120413 29 deleted
77 120416 29 deleted
78 120419 29 deleted
38 120425 29 deleted
0 121418 29 deleted
38 121421 29 deleted
79 121423 29 deleted
30 121436 29 deleted
74 122339 29 deleted
75 122341 29 deleted
23 122345 29 deleted
83 122347 29 deleted
28 122350 29 deleted
0 122357 29 deleted
57 138954 29 deleted
58 139258 29 deleted
57 140118 29 deleted
59 140416 29 deleted
56 140418 29 deleted
0 140425 29 deleted
61 140435 29 deleted
62 140438 29 deleted
63 140441 29 deleted
38 140443 29 deleted
64 140445 29 deleted
65 140448 29 deleted
66 140451 29 deleted
67 140453 29 deleted
34 140455 29 deleted
68 140458 29 deleted
69 140460 29 deleted
70 140469 29 deleted
71 140472 29 deleted
72 140476 29 deleted
73 140479 29 deleted
22 140491 29 deleted
74 141395 29 deleted
75 141398 29 deleted
61 141401 29 deleted
70 141409 29 deleted
71 141412 29 deleted
72 141416 29 deleted
73 141419 29 deleted
22 141434 29 deleted
74 142338 29 deleted
75 142341 29 deleted
61 142344 29 deleted
70 142352 29 deleted
71 142355 29 deleted
72 142359 29 deleted
73 142362 29 deleted
22 142377 29 deleted
74 143281 29 deleted
75 143284 29 deleted
61 143286 29 deleted
70 143295 29 deleted
71 143298 29 deleted
72 143302 29 deleted
73 143304 29 deleted
22 143320 29 deleted
74 144223 29 deleted
75 144226 29 deleted
61 144228 29 deleted
70 144237 29 deleted
71 144240 29 deleted
72 144244 29 deleted
73 144246 29 deleted
22 144259 29 deleted
74 145163 29 deleted
75 145166 29 deleted
61 145168 29 deleted
70 145177 29 deleted
71 145180 29 deleted
72 145184 29 deleted
73 145186 29 deleted
22 145202 29 deleted
74 146105 29 deleted
75 146108 29 deleted
61 146110 29 deleted
70 146119 29 deleted
71 146122 29 deleted
72 146126 29 deleted
73 146129 29 deleted
22 146143 29 deleted
74 147047 29 deleted
75 147050 29 deleted
61 147052 29 deleted
70 147061 29 deleted
71 147064 29 deleted
72 147068 29 deleted
73 147070 29 deleted
22 147086 29 deleted
74 147989 29 deleted
75 147992 29 deleted
61 147994 29 deleted
70 148003 29 deleted
71 148006 29 deleted
72 148010 29 deleted
73 148012 29 deleted
22 148027 29 deleted
74 148930 29 deleted
75 148933 29 deleted
61 148935 29 deleted
70 148944 29 deleted
71 148947 29 deleted
72 148951 29 deleted
73 148953 29 deleted
22 148968 29 deleted
74 149871 29 deleted
75 149874 29 deleted
61 149876 29 deleted
70 149885 29 deleted
71 149888 29 deleted
72 149892 29 deleted
73 149894 29 deleted
22 149909 29 deleted
74 150812 29 deleted
75 150815 29 deleted
61 150817 29 deleted
70 150826 29 deleted
71 150829 29 deleted
72 150833 29 deleted
73 150836 29 deleted
22 150850 29 deleted
74 151754 29 deleted
75 151757 29 deleted
61 151760 29 deleted
70 151768 29 deleted
71 151771 29 deleted
72 151775 29 deleted
73 151778 29 deleted
22 151793 29 deleted
74 152696 29 deleted
75 152699 29 deleted
61 152701 29 deleted
70 152710 29 deleted
71 152713 29 deleted
72 152717 29 deleted
73 152719 29 deleted
22 152734 29 deleted
74 153637 29 deleted
75 153640 29 deleted
61 153642 29 deleted
70 153651 29 deleted
71 153654 29 deleted
72 153658 29 deleted
73 153660 29 deleted
22 153675 29 deleted
74 154579 29 deleted
75 154582 29 deleted
61 154584 29 deleted
70 154593 29 deleted
71 154596 29 deleted
72 154600 29 deleted
73 154602 29 deleted
22 154618 29 deleted
74 155521 29 deleted
75 155524 29 deleted
61 155526 29 deleted
70 155535 29 deleted
71 155538 29 deleted
72 155542 29 deleted
73 155544 29 deleted
22 155559 29 deleted
74 156463 29 deleted
75 156466 29 deleted
61 156468 29 deleted
70 156477 29 deleted
71 156480 29 deleted
72 156484 29 deleted
73 156486 29 deleted
22 156502 29 deleted
74 157405 29 deleted
75 157408 29 deleted
61 157410 29 deleted
70 157419 29 deleted
71 157422 29 deleted
72 157426 29 deleted
73 157428 29 deleted
22 157443 29 deleted
74 158347 29 deleted
75 158350 29 deleted
61 158352 29 deleted
70 158361 29 deleted
71 158364 29 deleted
72 158368 29 deleted
73 158370 29 deleted
22 158386 29 deleted
74 159289 29 deleted
75 159292 29 deleted
61 159294 29 deleted
70 159303 29 deleted
71 159306 29 deleted
72 159310 29 deleted
73 159313 29 deleted
22 159327 29 deleted
64 159329 29 deleted
31 159332 29 deleted
74 160235 29 deleted
75 160238 29 deleted
61 160240 29 deleted
26 160244 29 deleted
23 160246 29 deleted
0 160254 29 deleted
76 178962 29 deleted
28 178964 29 deleted
56 178967 29 deleted
57 178973 29 deleted
58 179279 29 deleted
57 180139 29 deleted
59 180438 29 deleted
60 180441 29 deleted
56 180443 29 deleted
0 180450 29 deleted
61 180460 29 deleted
62 180463 29 deleted
63 180466 29 deleted
38 180468 29 deleted
64 180471 29 deleted
65 180474 29 deleted
66 180476 29 deleted
67 180479 29 deleted
34 180481 29 deleted
68 180484 29 deleted
69 180486 29 deleted
70 180495 29 deleted
71 180498 29 deleted
72 180502 29 deleted
73 180505 29 deleted
22 180518 29 deleted
74 181422 29 deleted
75 181425 29 deleted
61 181428 29 deleted
70 181437 29 deleted
71 181439 29 deleted
72 181444 29 deleted
73 181446 29 deleted
22 181461 29 deleted
74 182365 29 deleted
75 182368 29 deleted
61 182371 29 deleted
70 182380 29 deleted
71 182382 29 deleted
72 182387 29 deleted
73 182390 29 deleted
22 182404 29 deleted
74 183308 29 deleted
75 183311 29 deleted
61 183314 29 deleted
70 183323 29 deleted
71 183325 29 deleted
72 183330 29 deleted
73 183332 29 deleted
22 183347 29 deleted
74 184251 29 deleted
75 184254 29 deleted
61 184257 29 deleted
70 184265 29 deleted
71 184268 29 deleted
72 184272 29 deleted
73 184275 29 deleted
22 184288 29 deleted
74 185192 29 deleted
75 185195 29 deleted
61 185198 29 deleted
70 185207 29 deleted
71 185209 29 deleted
72 185213 29 deleted
73 185216 29 deleted
22 185231 29 deleted
74 186135 29 deleted
75 186138 29 deleted
61 186141 29 deleted
70 186149 29 deleted
71 186152 29 deleted
72 186156 29 deleted
73 186159 29 deleted
22 186174 29 deleted
74 187078 29 deleted
75 187081 29 deleted
61 187084 29 deleted
70 187093 29 deleted
71 187095 29 deleted
72 187099 29 deleted
73 187102 29 deleted
22 187117 29 deleted
74 188021 29 deleted
75 188024 29 deleted
61 188027 29 deleted
70 188036 29 deleted
71 188038 29 deleted
72 188042 29 deleted
73 188045 29 deleted
22 188060 29 deleted
74 188964 29 deleted
75 188967 29 deleted
61 188970 29 deleted
70 188978 29 deleted
71 188981 29 deleted
72 188985 29 deleted
73 188988 29 deleted
22 189003 29 deleted
74 189907 29 deleted
75 189910 29 deleted
61 189913 29 deleted
70 189922 29 deleted
71 189924 29 deleted
72 189928 29 deleted
73 189931 29 deleted
22 189946 29 deleted
74 190850 29 deleted
75 190853 29 deleted
61 190856 29 deleted
70 190864 29 deleted
71 190867 29 deleted
72 190872 29 deleted
73 190874 29 deleted
22 190889 29 deleted
74 191793 29 deleted
75 191796 29 deleted
61 191799 29 deleted
70 191808 29 deleted
71 191810 29 deleted
72 191814 29 deleted
73 191818 29 deleted
22 191832 29 deleted
74 192343 29 deleted
75 192360 29 deleted
41 192366 29 deleted
42 192369 29 deleted
37 192376 29 deleted
21 192379 29 deleted
34 192382 29 deleted
61 192384 29 deleted
23 192387 29 deleted
0 192393 29 deleted
76 198983 29 deleted
28 198986 29 deleted
56 198989 29 deleted
57 198995 29 deleted
59 199293 29 deleted
60 199296 29 deleted
56 199299 29 deleted
0 199305 29 deleted
77 199309 29 deleted
78 199312 29 deleted
38 199318 29 deleted
0 200310 29 deleted
38 200313 29 deleted
79 200316 29 deleted
30 201494 29 deleted
74 202398 29 deleted
75 202400 29 deleted
23 202404 29 deleted
83 202407 29 deleted
28 202409 29 deleted
0 202417 29 deleted
57 217935 29 deleted
58 218237 29 deleted
57 219097 29 deleted
59 219395 29 deleted
60 219398 29 deleted
56 219400 29 deleted
0 219406 29 deleted
38 219409 29 deleted
23 219412 29 deleted
28 219415 29 deleted
0 219421 29 deleted
57 237943 29 deleted
58 238245 29 deleted
57 239105 29 deleted
59 239407 29 deleted
60 239410 29 deleted
56 239412 29 deleted
0 239418 29 deleted
77 239421 29 deleted
78 239424 29 deleted
38 239430 29 deleted
0 240419 29 deleted
38 240422 29 deleted
79 240424 29 deleted
30 240441 29 deleted
74 241345 29 deleted
75 241347 29 deleted
23 241351 29 deleted
83 241353 29 deleted
28 241356 29 deleted
0 241362 29 deleted
57 257959 29 deleted
58 258261 29 deleted
57 259121 29 deleted
59 259419 29 deleted
56 259422 29 deleted
0 259428 29 deleted
61 259438 29 deleted
62 259441 29 deleted
63 259444 29 deleted
38 259446 29 deleted
64 259449 29 deleted
54 259451 29 deleted
65 259456 29 deleted
66 259459 29 deleted
67 259461 29 deleted
34 259464 29 deleted
68 259466 29 deleted
69 259469 29 deleted
0 259476 29 deleted
25 267781 29 deleted
74 268685 29 deleted
75 268688 29 deleted
61 268691 29 deleted
24 268693 29 deleted
67 268696 29 deleted
0 268703 29 deleted
57 268709 29 deleted
58 269010 29 deleted
57 269870 29 deleted
70 270175 29 deleted
71 270177 29 deleted
72 270182 29 deleted
73 270184 29 deleted
22 270198 29 deleted
69 270201 29 deleted
74 271104 29 deleted
75 271107 29 deleted
61 271109 29 deleted
70 271118 29 deleted
71 271121 29 deleted
72 271125 29 deleted
73 271128 29 deleted
22 271135 29 deleted
69 271138 29 deleted
74 272048 29 deleted
75 272051 29 deleted
61 272053 29 deleted
70 272063 29 deleted
71 272065 29 deleted
72 272069 29 deleted
73 272072 29 deleted
22 272080 29 deleted
69 272083 29 deleted
74 272993 29 deleted
75 272996 29 deleted
61 272999 29 deleted
70 273008 29 deleted
71 273010 29 deleted
72 273014 29 deleted
73 273017 29 deleted
22 273025 29 deleted
69 273028 29 deleted
74 273937 29 deleted
75 273940 29 deleted
61 273943 29 deleted
41 273945 29 deleted
42 273948 29 deleted
26 273951 29 deleted
23 273953 29 deleted
0 273961 29 deleted
76 277968 29 deleted
28 277971 29 deleted
56 277974 29 deleted
57 277979 29 deleted
58 278284 29 deleted
57 279144 29 deleted
59 279442 29 deleted
60 279445 29 deleted
56 279448 29 deleted
0 279455 29 deleted
38 279458 29 deleted
23 279461 29 deleted
28 279464 29 deleted
0 279470 29 deleted
57 297992 29 deleted
58 298296 29 deleted
57 299156 29 deleted
59 299454 29 deleted
60 299457 29 deleted
56 299459 29 deleted
0 299467 29 deleted
61 299478 29 deleted
62 299481 29 deleted
63 299485 29 deleted
38 299488 29 deleted
64 299491 29 deleted
65 299493 29 deleted
66 299496 29 deleted
67 299498 29 deleted
34 299501 29 deleted
68 299503 29 deleted
69 299506 29 deleted
70 299515 29 deleted
71 299517 29 deleted
72 299521 29 deleted
73 299524 29 deleted
22 299537 29 deleted
74 300441 29 deleted
75 300444 29 deleted
61 300447 29 deleted
70 300456 29 deleted
71 300458 29 deleted
72 300463 29 deleted
73 300465 29 deleted
22 300480 29 deleted
74 301384 29 deleted
75 301387 29 deleted
61 301390 29 deleted
70 301398 29 deleted
71 301401 29 deleted
72 301405 29 deleted
73 301408 29 deleted
22 301423 29 deleted
74 302327 29 deleted
75 302330 29 deleted