In [2]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, BigInteger, Sequence, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from typing import List
from typing import Optional
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
import os
from libv3.utils import *
import pandas as pd
import json
import shutil

# Define the base for the declarative model
Base = declarative_base()

# Define the Event class which will be mapped to the events table in the database
class Event(Base):
    __tablename__ = 'events'
    
    id: Mapped[int] = mapped_column(primary_key=True)
    
    name: Mapped[int] = mapped_column(nullable=False)
    timestamp: Mapped[int] = mapped_column(BigInteger, nullable=False)
    file_number: Mapped[int] = mapped_column(ForeignKey("file_config.id")) 

    config: Mapped["File_config"] = relationship(back_populates="events")
    


class File_config(Base):
    __tablename__ = 'file_config'

    id: Mapped[int] = mapped_column(primary_key=True)
    unique_name: Mapped[str] = mapped_column(String(50), nullable=False, unique=True)
    code_base: Mapped[str] = mapped_column(String(50), nullable=False)
    version: Mapped[int] = mapped_column(Integer, nullable=False)
    behaviour: Mapped[str] = mapped_column(String(50), nullable=False)
    trial_num: Mapped[int] = mapped_column(Integer, nullable=False)

    events: Mapped[List["Event"]] = relationship(back_populates="config")


def get_or_create(code_base, version, behaviour, trial_num):
    '''
    Function to get or create a new file_config entry in
    the database. This function will return the existing
    entry if it exists, otherwise it will create a new entry
    and return it.

    Args:
        code_base (str): The code base used to generate the data
        version (int): The version of the code base
        behaviour (str): The behaviour being tested
        trial_num (int): The trial number of the data

    Returns:
        File_config: The file_config entry
        bool: False if the entry was created, True if the entry already existed
    '''
    with Session() as session:
        instance = session.query(File_config).filter_by(unique_name=f'{code_base}_{version}_{behaviour}_{trial_num}').first()
        if instance:
            return instance, True  # Return existing entry
        else:
            new_config = File_config(code_base=code_base,version=version, behaviour=behaviour, trial_num=trial_num, unique_name=f'{code_base}_{version}_{behaviour}_{trial_num}')
            session.add(new_config)
            session.commit()
            return new_config, False  # New config added
        
def check_event_exists(name, timestamp, unique_name):
    '''
    Function to check if an event already exists in the database

    Args:
        name (str): The name of the event
        timestamp (int): The timestamp of the event
        file_number (int): The file number of the event

    Returns:
        bool: True if the event exists, False if it does not
    '''
    with Session() as session:
        file_number = session.query(File_config).filter_by(unique_name=unique_name).first().id
        instance = session.query(Event).filter_by(name=name, timestamp=timestamp, file_number=file_number).first()
        if instance:
            return True
        else:
            return False

/var/folders/nw/443sknns78l256x46fjj6r0c0000gn/T/ipykernel_2062/3485431635.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [114]:
############ configuration ################
############################################

CODE, BEHAVIOUR, THREAD, VER = get_config('mamba2_config')   ### config stored in libv3/exp_config.txt
TRIAL = 3

base_dir = '../trace_data' ### can be replaced with 'csv', 'exe_plot', 'histogram'
log_path = base_dir+f'/{CODE}/{THREAD}_thread/version_{VER}/{BEHAVIOUR}/trial{TRIAL}'

print(log_path)

#### file to display
trace_file = 0

print('file number:', trace_file)

CODE: mamba2
BEHAVIOUR: faulty_data
THREAD: single
VER: 3
../trace_data/mamba2/single_thread/version_3/faulty_data/trial3
file number: 0

In [115]:
######### get paths #######################
paths_log, paths_traces, varlist_path, paths_label = get_paths(log_path)

### remove.Ds_store from all lists
paths_log = [x for x in paths_log if '.DS_Store' not in x]
paths_traces = [x for x in paths_traces if '.DS_Store' not in x]
varlist_path = [x for x in varlist_path if '.DS_Store' not in x]
paths_label = [x for x in paths_label if '.DS_Store' not in x]

paths_log.sort()
paths_traces.sort()
varlist_path.sort()

print(paths_log)
print(paths_traces)
print(varlist_path)
print(paths_label)

[]
['../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace0', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace1', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace10', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace11', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace2', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace3', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace4', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace5', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace6', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace7', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace8', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/trace9']
['../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist0', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist1', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist10', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist11', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist2', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist3', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist4', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist5', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist6', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist7', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist8', '../trace_data/mamba2/single_thread/version_3/faulty_data/trial3/varlist9']
[]

### Combine files from trials (only to create trial files)

In [116]:
# #### combine files
# paths_traces.sort(key=lambda x: int(x.split('/')[-1][5:]))
# last_file_num = int(paths_traces[-1].split('/')[-1][5:])
# all_content = []
# for trace_path in paths_traces:
#     content = read_traces(trace_path)   
#     all_content.extend(content)
#     # print(content)
#     # break
    
# path_to_save = os.path.dirname(os.path.dirname(trace_path))
# with open(path_to_save+f'/trace_trial{TRIAL}', 'w') as f:
#     json.dump(all_content, f)
#     print('Saved trace:', path_to_save+f'/trace_trial{TRIAL}')


# varlist_content = read_json(os.path.join(os.path.dirname(trace_path),f'varlist{last_file_num}'))
# print(varlist_content)
# with open(path_to_save+f'/varlist_trial{TRIAL}.json', 'w') as f:
#     json.dump(varlist_content, f)



# # varlist_content = []
# # for varlist_path in varlist_path:
# #     content = read_json(varlist_path)
# #     varlist_content.extend(content)
# #     varlist_content = list(set(varlist_content)) ### remove duplicates

Saved trace: ../trace_data/mamba2/single_thread/version_3/faulty_data/trace_trial3
{'0-0-0-CONNECTION_CO2': 11, '0-0-0-var': 61, '0-0-0-BMP': 38, '0-0-0-CONNECTION_O2': 13, '0-0-measure_am1-0': 64, '0-0-0-THRESHOLD_LIMITS': 43, '0-0-0-msg_interval': 28, '0-0-0-O2_ADRR': 3, '0-0-0-AM2301_1_ADRR': 6, '0-0-measure_scd30-0': 58, '0-0-measure_am4-0': 67, '0-0-cb_lora-board_id': 71, '0-0-cb_30-cb_30_done': 68, '0-0-0-cb_30_done': 26, '0-0-0-SPI_BUS': 33, '0-0-measure_co-0': 60, '0-0-0-am_temp': 23, '0-0-0-FUNC_VAR': 46, '0-0-0-CONNECTION_CO': 12, '0-0-0-timer1': 48, '0-0-0-CONNECTION_A1': 15, '0-0-0-CONNECTION_A2': 16, '0-0-0-CONNECTION_A3': 17, '0-0-0-CONNECTION_A4': 18, '0-0-0-timer0': 47, '0-0-0-AM2301_2_ADRR': 7, '0-0-0-MCP_O2': 37, '0-0-0-SENSOR_DATA': 49, '0-0-0-SCD30_ADRR': 5, '0-0-0-lora': 34, '0-0-0-que': 25, '0-0-measure_am2-0': 65, '0-0-add_to_que-que': 69, '0-0-cb_retrans-cb_retrans_done': 73, '0-0-0-func_call': 57, '0-0-0-LIMITS_BROKEN': 55, '0-0-cb_lora-timestamp': 72, '0-0-0-CONNECTION_VAR': 44, '0-0-0-am_hum': 24, '0-0-0-AM2301_3': 41, '0-0-0-AM2301_2': 40, '0-0-0-AM2301_1': 39, '0-0-crc32-crc': 31, '0-0-0-CO_ADRR': 4, '0-0-0-retransmit_count': 52, '0-0-0-SENSORS_LIST': 45, '0-0-0-SENSOR_STATUS': 54, '0-0-0-_pkng_frmt': 0, '0-0-0-AM2301_4': 42, '0-0-0-current_time': 53, '0-0-0-I2CBUS': 32, '0-0-measure_am3-0': 66, '0-0-0-MAX_QUEUE': 19, '0-0-0-scd_co2': 20, '0-0-0-msg': 50, '0-0-0-MCP_CO': 36, '0-0-0-FAILED_LORA': 10, '0-0-0-cb_retrans_done': 27, '0-0-0-scd_hum': 22, '0-0-0-SENSORBOARD_ID': 2, '0-0-measure_o2-0': 62, '0-0-0-scd30': 35, '0-0-0-scd_temp': 21, '0-0-measure_bmp-0': 63, '0-0-0-CONNECTION_BMP': 14, '0-0-0-retx_interval': 29, '0-0-0-j': 56, '0-0-0-reading_co2': 59, '0-0-0-hb_msg': 30, '0-0-get_node_id-node_id': 1, '0-0-0-start_time': 51, '0-0-cb_lora-rcv_msg': 70, '0-0-0-AM2301_3_ADRR': 8, '0-0-0-AM2301_4_ADRR': 9}

### Load the existing files

In [117]:
### load combined trace file and varlist
all_content = read_traces(f'/Users/saurabh/Documents/Nextcloud/work/Phd tasks/diagnosis tool/trace_data/{CODE}/{THREAD}_thread/version_{VER}/{BEHAVIOUR}/trace_trial{TRIAL}')
varlist_content = read_json(f'/Users/saurabh/Documents/Nextcloud/work/Phd tasks/diagnosis tool/trace_data/{CODE}/{THREAD}_thread/version_{VER}/{BEHAVIOUR}/varlist_trial{TRIAL}.json')

In [118]:
len(all_content)

11132

In [119]:
len(varlist_content)

74

In [120]:
path_to_content = os.path.dirname(log_path)+f'/trace_trial{TRIAL}'
content_towrite = read_traces(path_to_content)
# print(content_towrite)
# Create an SQLite database (or connect to it if it already exists)
database_url = 'sqlite:///events.db'
engine = create_engine(database_url, echo=True)

# Create all tables in the database
Base.metadata.create_all(engine)

# # Create a configured "Session" class
Session = sessionmaker(bind=engine)

config_settings, config_exists = get_or_create(code_base=CODE, version=VER, behaviour=BEHAVIOUR, trial_num=TRIAL)
print(config_settings, config_exists)

if not config_exists:
    with Session.begin() as session:
        for event_name, event_timestamp in all_content:
            print(event_name, event_timestamp)

            # event_exists = check_event_exists(event_name, event_timestamp, f'{CODE}_{VER}_{BEHAVIOUR}_{TRIAL}')
            # if event_exists:
            #     print(f"Event {event_name} at timestamp {event_timestamp} already exists in the database")
            #     break

            event = Event(name=event_name, timestamp=event_timestamp, config=config_settings)
            session.add(event)
else:
    print("Config already exists in the database")

2024-07-25 15:32:51,234 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-25 15:32:51,236 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-07-25 15:32:51,236 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-25 15:32:51,239 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("file_config")
2024-07-25 15:32:51,241 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-25 15:32:51,242 INFO sqlalchemy.engine.Engine COMMIT

2024-07-25 15:32:51,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-25 15:32:51,251 INFO sqlalchemy.engine.Engine SELECT file_config.id AS file_config_id, file_config.unique_name AS file_config_unique_name, file_config.code_base AS file_config_code_base, file_config.version AS file_config_version, file_config.behaviour AS file_config_behaviour, file_config.trial_num AS file_config_trial_num
FROM file_config
WHERE file_config.unique_name = ?
 LIMIT ? OFFSET ?
2024-07-25 15:32:51,252 INFO sqlalchemy.engine.Engine [generated in 0.00088s] ('mamba2_3_faulty_data_3', 1, 0)
2024-07-25 15:32:51,256 INFO sqlalchemy.engine.Engine INSERT INTO file_config (unique_name, code_base, version, behaviour, trial_num) VALUES (?, ?, ?, ?, ?)
2024-07-25 15:32:51,256 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ('mamba2_3_faulty_data_3', 'mamba2', 3, 'faulty_data', 3)
2024-07-25 15:32:51,258 INFO sqlalchemy.engine.Engine COMMIT
<__main__.File_config object at 0x1620b37f0> False
0 10
1 13
2 14
3 15
4 16
5 18
6 19
7 20
8 21
9 22
10 23
11 24
12 25
13 26
14 28
15 29
16 30
17 31
18 32
19 33
20 35
21 36
22 37
23 38
24 39
25 40
26 42
27 43
28 44
29 45
30 47
31 48
30 51
32 54
33 56
34 66
35 91
36 118
37 143
38 302
39 304
40 305
41 307
42 308
43 309
44 310
45 312
46 313
47 314
48 316
49 318
50 320
51 322
52 324
53 338
54 340
55 342
56 343
57 344
58 346
59 350
49 352
49 353
49 354
57 355
60 356
61 358
49 360
57 361
62 362
61 364
49 365
57 366
63 367
61 373
49 374
57 375
64 376
23 1151
24 1152
49 1153
49 1154
56 1155
57 1156
65 1157
23 1931
24 1932
49 1933
49 1934
56 1935
57 1936
66 1937
23 2711
24 2712
49 2713
49 2714
56 2715
57 2716
67 2716
23 3490
24 3491
49 3493
49 3493
56 3494
50 3496
50 3497
31 3498
50 3525
53 3533
54 3534
55 3535
56 3536
57 3537
58 3538
59 3547
20 3548
21 3549
22 3550
49 3551
49 3552
49 3553
57 3554
60 3555
61 3557
49 3558
57 3559
62 3560
61 3562
49 3563
57 3564
63 3565
61 3569
49 3571
57 3572
64 3573
23 4347
24 4348
49 4349
49 4350
56 4351
57 4352
65 4352
23 5126
24 5127
49 5128
49 5129
56 5130
57 5131
66 5132
23 5906
24 5907
49 5908
49 5909
56 5909
57 5910
67 5911
23 6685
24 6686
49 6687
49 6688
56 6689
50 6690
50 6692
31 6693
50 6719
53 6728
54 6729
55 6730
56 6731
57 6732
58 6733
59 6742
20 6743
21 6744
22 6745
49 6746
49 6747
49 6748
57 6749
60 6750
61 6752
49 6753
57 6754
62 6755
61 6757
49 6758
57 6759
63 6760
61 6765
49 6767
57 6768
64 6769
23 7543
24 7544
49 7545
49 7546
56 7547
57 7548
65 7549
23 8322
24 8323
49 8324
49 8325
56 8326
57 8327
66 8328
23 9102
24 9103
49 9104
49 9105
56 9106
57 9107
67 9107
23 9881
24 9882
49 9883
49 9884
56 9885
50 9886
50 9888
31 9889
50 9915
53 9924
54 9925
55 9926
56 9927
57 9928
58 9929
59 9938
20 9939
21 9940
22 9941
49 9942
49 9943
49 9944
57 9945
60 9946
61 9948
49 9949
57 9950
62 9951
61 9953
49 9954
57 9955
63 9956
61 9960
49 9962
57 9963
64 9964
23 10738
24 10739
49 10740
49 10741
56 10742
57 10743
65 10744
23 11517
24 11518
49 11519
49 11520
56 11521
57 11522
66 11523
23 12297
24 12298
49 12299
49 12300
56 12301
57 12302
67 12303
23 13076
24 13077
49 13078
49 13079
56 13080
50 13082
50 13083
31 13084
50 13111
53 13119
54 13120
55 13121
56 13122
57 13123
58 13124
59 13133
20 13134
21 13135
22 13136
49 13137
49 13138
49 13139
57 13140
60 13141
61 13143
49 13144
57 13145
62 13146
61 13148
49 13149
57 13150
63 13151
61 13156
49 13158
57 13159
64 13160
23 13934
24 13935
49 13936
49 13937
56 13938
57 13939
65 13940
23 14714
24 14715
49 14716
49 14717
56 14718
57 14719
66 14720
23 15493
24 15494
49 15495
49 15496
56 15497
57 15498
67 15499
23 16273
24 16274
49 16275
49 16276
56 16276
50 16278
50 16279
31 16280
50 16307
53 16316
54 16317
55 16318
56 16319
57 16320
58 16321
59 16329
20 16331
21 16332
22 16333
49 16334
49 16335
49 16336
57 16337
60 16338
61 16340
49 16341
57 16342
62 16343
61 16345
49 16346
57 16347
63 16348
61 16352
49 16354
57 16355
64 16356
23 17130
24 17131
49 17132
49 17133
56 17134
57 17134
65 17135
23 17909
24 17910
49 17911
49 17912
56 17913
57 17914
66 17915
23 18689
24 18690
49 18691
49 18692
56 18693
57 18693
67 18694
23 19468
24 19469
49 19470
49 19471
56 19472
50 19473
50 19475
31 19476
50 19503
53 19512
54 19513
55 19514
56 19515
57 19516
58 19517
59 19525
20 19526
21 19527
22 19528
49 19529
49 19531
49 19532
57 19533
60 19534
61 19535
49 19537
57 19538
62 19539
61 19540
49 19542
57 19543
63 19544
61 19549
49 19550
57 19551
64 19552
23 20326
24 20327
49 20328
49 20329
56 20330
57 20331
65 20332
23 21106
24 21107
49 21108
49 21109
56 21110
57 21111
66 21112
23 21886
24 21887
49 21888
49 21889
56 21889
57 21890
67 21891
23 22665
24 22666
49 22667
49 22668
56 22669
50 22670
50 22672
31 22673
50 22700
53 22709
54 22710
55 22711
56 22712
57 22713
58 22714
59 22722
20 22724
21 22724
22 22725
49 22727
49 22728
49 22729
57 22730
60 22731
61 22733
49 22734
57 22735
62 22736
61 22738
49 22739
57 22740
63 22741
61 22745
49 22747
57 22748
64 22748
23 23523
24 23524
49 23525
49 23526
56 23526
57 23527
65 23528
23 24302
24 24303
49 24304
49 24305
56 24306
57 24307
66 24308
23 25082
24 25083
49 25084
49 25085
56 25086
57 25087
67 25088
23 25861
24 25862
49 25863
49 25864
56 25865
50 25867
50 25868
31 25869
50 25896
53 25905
54 25906
55 25907
56 25908
57 25909
58 25910
59 25919
20 25920
21 25921
22 25922
49 25923
49 25924
49 25926
57 25927
60 25928
61 25929
49 25930
57 25931
62 25932
61 25934
49 25935
57 25936
63 25937
61 25943
49 25944
57 25945
64 25946
23 26720
24 26721
49 26722
49 26723
56 26724
57 26725
65 26726
23 27500
24 27501
49 27502
49 27503
56 27504
57 27505
66 27506
23 28280
24 28280
49 28282
49 28283
56 28283
57 28284
67 28285
23 29059
24 29060
49 29061
49 29062
56 29063
50 29064
50 29065
31 29067
50 29094
53 29103
54 29104
55 29105
56 29106
57 29107
58 29108
59 29116
20 29118
21 29119
22 29119
49 29121
49 29122
49 29123
57 29124
60 29125
61 29127
49 29128
57 29129
62 29130
61 29132
49 29133
57 29134
63 29135
61 29139
49 29141
57 29142
64 29143
23 29917
24 29918
49 29919
49 29920
56 29921
57 29922
65 29923
68 30322
23 30697
24 30698
49 30699
49 30700
56 30700
57 30701
66 30702
23 31476
24 31477
49 31478
49 31479
56 31480
57 31481
67 31482
23 32256
24 32257
49 32258
49 32259
56 32260
50 32261
50 32262
31 32263
50 32290
69 32292
51 32441
28 32443
29 32444
26 32445
53 32454
54 32455
55 32456
56 32457
57 32459
58 32460
59 32468
20 32470
21 32471
22 32471
49 32473
49 32474
49 32475
57 32476
60 32477
61 32479
49 32480
57 32481
62 32482
61 32484
49 32485
57 32486
63 32487
61 32492
49 32494
57 32495
64 32496
70 33117
71 33121
72 33122
23 33270
24 33271
49 33272
49 33273
56 33274
57 33275
65 33276
23 34050
24 34051
49 34052
49 34053
56 34054
57 34055
66 34056
23 34830
24 34831
49 34832
49 34833
56 34834
57 34835
67 34836
23 35609
24 35610
49 35611
49 35612
56 35613
50 35615
50 35616
31 35617
50 35644
69 35645
51 35794
26 35797
53 35806
54 35807
55 35808
56 35809
57 35810
58 35811
59 35820
20 35821
21 35822
22 35823
49 35824
49 35825
49 35827
57 35828
60 35828
61 35830
49 35831
57 35832
62 35833
61 35835
49 35836
57 35837
63 35838
61 35843
49 35844
57 35845
64 35846
70 36479
71 36481
72 36482
23 36620
24 36621
49 36622
49 36623
56 36624
57 36625
65 36626
23 37400
24 37401
49 37402
49 37403
56 37404
57 37405
66 37406
23 38180
24 38181
49 38182
49 38183
56 38184
57 38185
67 38186
73 38796
23 38960
24 38960
49 38961
49 38962
56 38963
50 38965
50 38966
31 38967
50 38994
69 38996
51 39149
28 39151
29 39152
26 39153
53 39163
54 39164
55 39165
56 39166
57 39167
58 39168
59 39177
20 39178
21 39179
22 39180
49 39181
49 39182
49 39183
57 39184
60 39185
61 39187
49 39188
57 39189
62 39190
61 39192
49 39193
57 39194
63 39195
61 39200
49 39202
57 39203
64 39204
70 39910
71 39912
72 39913
23 39978
24 39979
49 39980
49 39981
56 39982
57 39983
65 39984
23 40758
24 40759
49 40760
49 40761
56 40762
57 40763
66 40764
23 41537
24 41538
49 41539
49 41540
56 41541
57 41542
67 41543
73 42151
23 42317
24 42318
49 42319
49 42320
56 42321
50 42322
50 42323
31 42324
50 42352
69 42353
51 42501
28 42504
29 42505
26 42506
53 42515
54 42516
55 42517
56 42518
57 42519
58 42520
59 42529
20 42530
21 42531
22 42532
49 42533
49 42534
49 42535
57 42536
60 42537
61 42539
49 42540
57 42541
62 42542
61 42544
49 42545
57 42546
63 42547
61 42551
49 42553
57 42554
64 42555
70 43271
71 43273
72 43274
23 43329
24 43330
49 43331
49 43332
56 43333
57 43334
65 43335
23 44109
24 44110
49 44111
49 44112
56 44113
57 44114
66 44115
23 44888
24 44889
49 44890
49 44891
56 44892
57 44893
67 44894
23 45668
24 45669
49 45670
49 45671
56 45672
50 45673
50 45674
31 45675
50 45703
69 45704
51 45853
26 45855
53 45864
54 45865
55 45866
56 45867
57 45868
58 45869
59 45878
20 45879
21 45880
22 45881
49 45882
49 45884
49 45885
57 45886
60 45887
61 45888
49 45890
57 45891
62 45892
61 45893
49 45894
57 45895
63 45896
61 45902
49 45903
57 45904
64 45905
70 46628
71 46630
72 46631
23 46679
24 46680
49 46681
49 46682
56 46683
57 46684
65 46685
23 47459
24 47460
49 47461
49 47462
56 47463
57 47464
66 47465
23 48239
24 48240
49 48241
49 48242
56 48242
57 48243
67 48244
23 49018
24 49019
49 49020
49 49021
56 49022
50 49023
50 49024
31 49026
50 49053
69 49054
51 49203
28 49205
29 49206
26 49208
53 49217
54 49218
55 49219
56 49220
57 49221
58 49222
59 49231
20 49232
21 49233
22 49234
49 49235
49 49237
49 49238
57 49239
60 49240
61 49241
49 49242
57 49243
62 49244
61 49246
49 49247
57 49248
63 49249
61 49253
49 49255
57 49256
64 49257
70 49985
71 49988
72 49989
23 50031
24 50032
49 50033
49 50034
56 50035
57 50036
65 50037
23 50811
24 50812
49 50813
49 50814
56 50815
57 50816
66 50817
23 51590
24 51591
49 51592
49 51593
56 51594
57 51595
67 51603
23 52377
24 52378
49 52379
49 52380
56 52381
50 52383
50 52384
31 52385
50 52411
69 52412
51 52560
26 52562
53 52570
54 52571
55 52572
56 52573
57 52574
58 52575
59 52584
20 52585
21 52586
22 52587
49 52588
49 52589
49 52590
57 52591
60 52592
61 52594
49 52595
57 52596
62 52597
61 52599
49 52600
57 52601
63 52602
61 52607
49 52608
57 52609
64 52610
23 53384
24 53385
49 53386
49 53387
56 53388
57 53389
65 53390
23 54164
24 54165
49 54166
49 54167
56 54168
57 54169
66 54170
23 54943
24 54944
49 54945
49 54946
56 54947
57 54948
67 54949
73 55562
23 55723
24 55724
49 55725
49 55726
56 55727
50 55728
50 55729
31 55730
50 55757
27 55758
52 55759
53 55913
54 55914
55 55915
56 55916
57 55917
58 55918
59 55927
20 55928
21 55929
22 55930
49 55931
49 55932
49 55933
57 55934
60 55935
61 55937
49 55938
57 55939
62 55940
61 55942
49 55943
57 55944
63 55945
61 55949
49 55950
57 55951
64 55952
70 56630
71 56632
72 56633
23 56727
24 56728
49 56729
49 56730
56 56730
57 56731
65 56732
23 57506
24 57507
49 57508
49 57509
56 57510
57 57511
66 57512
23 58286
24 58286
49 58288
49 58288
56 58289
57 58290
67 58291
73 58565
23 59066
24 59067
49 59068
49 59069
56 59070
50 59071
50 59073
31 59074
50 59100
27 59101
52 59102
52 59103
53 59112
54 59113
55 59114
56 59115
57 59116
58 59117
59 59125
20 59126
21 59127
22 59128
49 59130
49 59131
49 59132
57 59133
60 59134
61 59135
49 59137
57 59137
62 59139
61 59140
49 59141
57 59142
63 59143
61 59149
49 59150
57 59151
64 59152
23 59926
24 59927
49 59928
49 59929
56 59930
57 59931
65 59932
23 60706
24 60707
49 60708
49 60709
56 60709
57 60710
66 60711
23 61485
24 61486
49 61487
49 61488
56 61489
57 61490
67 61491
23 62265
24 62266
49 62267
49 62268
56 62268
50 62270
50 62271
31 62272
50 62299
53 62307
54 62308
55 62309
56 62310
57 62311
58 62312
59 62321
20 62322
21 62323
22 62323
49 62325
49 62326
49 62327
57 62328
60 62329
61 62331
49 62332
57 62333
62 62334
61 62335
49 62337
57 62338
63 62339
61 62343
49 62344
57 62345
64 62346
23 63120
24 63121
49 63122
49 63123
56 63124
57 63125
65 63126
23 63900
24 63901
49 63902
49 63903
56 63903
57 63904
66 63905
23 64679
24 64680
49 64681
49 64682
56 64683
57 64684
67 64685
23 65458
24 65459
49 65460
49 65461
56 65462
50 65464
50 65465
31 65466
50 65493
53 65501
54 65502
55 65503
56 65504
57 65505
58 65506
59 65515
20 65516
21 65517
22 65518
49 65519
49 65520
49 65521
57 65522
60 65523
61 65525
49 65526
57 65527
62 65528
61 65530
49 65531
57 65532
63 65533
61 65538
49 65539
57 65540
64 65541
23 66315
24 66316
49 66317
49 66318
56 66319
57 66320
65 66321
23 67095
24 67096
49 67097
49 67098
56 67099
57 67100
66 67101
23 67874
24 67875
49 67876
49 67877
56 67878
57 67879
67 67880
23 68654
24 68655
49 68656
49 68657
56 68658
50 68659
50 68660
31 68661
50 68688
53 68697
54 68698
55 68699
56 68700
57 68701
58 68702
59 68710
20 68711
21 68712
22 68713
49 68714
49 68716
49 68717
57 68718
60 68719
61 68720
49 68722
57 68723
62 68723
61 68725
49 68726
57 68727
63 68728
61 68732
49 68734
57 68735
64 68736
23 69510
24 69511
49 69512
49 69513
56 69514
57 69515
65 69516
23 70289
24 70290
49 70291
49 70292
56 70293
57 70294
66 70295
23 71069
24 71069
49 71071
49 71071
56 71072
57 71073
67 71074
23 71848
24 71849
49 71850
49 71851
56 71852
50 71853
50 71854
31 71856
50 71882
53 71891
54 71892
55 71893
56 71894
57 71895
58 71896
59 71905
20 71906
21 71907
22 71908
49 71909
49 71910
49 71911
57 71912
60 71913
61 71915
49 71916
57 71917
62 71918
61 71919
49 71921
57 71922
63 71923
61 71928
49 71929
57 71930
64 71931
23 72705
24 72706
49 72707
49 72708
56 72709
57 72710
65 72711
23 73485
24 73486
49 73487
49 73488
56 73489
57 73490
66 73491
23 74264
24 74265
49 74266
49 74267
56 74268
57 74269
67 74270
23 75044
24 75045
49 75046
49 75047
56 75047
50 75049
50 75050
31 75051
50 75078
53 75087
54 75088
55 75089
56 75090
57 75091
58 75092
59 75100
20 75101
21 75102
22 75103
49 75105
49 75106
49 75107
57 75108
60 75109
61 75110
49 75112
57 75113
62 75114
61 75115
49 75116
57 75117
63 75118
61 75123
49 75124
57 75125
64 75126
23 75900
24 75901
49 75902
49 75903
56 75904
57 75905
65 75906
23 76679
24 76680
49 76681
49 76682
56 76683
57 76684
66 76685
23 77459
24 77460
49 77461
49 77462
56 77463
57 77464
67 77465
23 78238
24 78239
49 78240
49 78241
56 78242
50 78244
50 78245
31 78246
50 78273
53 78282
54 78283
55 78284
56 78285
57 78286
58 78287
59 78295
20 78296
21 78297
22 78298
49 78299
49 78301
49 78302
57 78303
60 78304
61 78305
49 78306
57 78307
62 78308
61 78310
49 78311
57 78312
63 78313
61 78319
49 78320
57 78321
64 78322
23 79096
24 79097
49 79098
49 79099
56 79100
57 79101
65 79102
68 79562
23 79875
24 79876
49 79877
49 79878
56 79879
57 79880
66 79881
23 80655
24 80656
49 80657
49 80658
56 80659
57 80660
67 80661
23 81434
24 81435
49 81436
49 81437
56 81438
50 81440
50 81441
31 81442
50 81469
69 81470
51 81619
28 81621
29 81622
26 81623
53 81631
54 81632
55 81633
56 81634
57 81635
58 81636
59 81645
20 81646
21 81647
22 81648
49 81649
49 81650
49 81652
57 81653
60 81654
61 81655
49 81657
57 81658
62 81659
61 81660
49 81662
57 81663
63 81664
61 81668
49 81669
57 81670
64 81671
23 82445
24 82446
49 82447
49 82448
56 82449
57 82450
65 82451
70 82489
71 82492
72 82493
23 83225
24 83226
49 83227
49 83228
56 83229
57 83230
66 83231
23 84005
24 84006
49 84007
49 84008
56 84009
57 84010
67 84011
73 84620
23 84784
24 84785
49 84786
49 84787
56 84788
50 84790
50 84791
31 84792
50 84819
27 84820
52 84821
53 84830
54 84831
55 84832
56 84833
57 84834
58 84835
59 84844
20 84845
21 84846
22 84847
49 84848
49 84849
49 84850
57 84851
60 84852
61 84854
49 84855
57 84856
62 84857
61 84859
49 84860
57 84861
63 84862
61 84867
49 84869
57 84870
64 84871
23 85645
24 85646
49 85647
49 85648
56 85649
57 85650
65 85651
23 86424
24 86425
49 86426
49 86427
56 86428
57 86429
66 86430
23 87204
24 87205
49 87206
49 87207
56 87208
57 87209
67 87210
73 87620
23 87983
24 87984
49 87985
49 87986
56 87987
50 87989
50 87990
31 87991
50 88018
27 88019
52 88020
52 88021
53 88030
54 88031
55 88032
56 88033
57 88034
58 88035
59 88044
20 88045
21 88046
22 88047
49 88048
49 88050
49 88051
57 88052
60 88053
61 88054
49 88056
57 88057
62 88058
61 88059
49 88061
57 88062
63 88063
61 88067
49 88068
57 88069
64 88070
23 88844
24 88845
49 88846
49 88847
56 88848
57 88849
65 88850
23 89624
24 89625
49 89626
49 89627
56 89627
57 89628
66 89629
23 90403
24 90404
49 90405
49 90406
56 90407
57 90408
67 90409
23 91183
24 91184
49 91185
49 91186
56 91187
50 91188
50 91189
31 91190
50 91217
53 91227
54 91228
55 91229
56 91230
57 91231
58 91232
59 91240
20 91241
21 91242
22 91243
49 91245
49 91246
49 91247
57 91248
60 91249
61 91251
49 91252
57 91253
62 91254
61 91256
49 91257
57 91258
63 91259
61 91264
49 91265
57 91266
64 91267
23 92041
24 92042
49 92043
49 92044
56 92045
57 92046
65 92047
23 92821
24 92822
49 92823
49 92824
56 92825
57 92826
66 92827
23 93601
24 93601
49 93603
49 93603
56 93604
57 93605
67 93606
23 94380
24 94381
49 94382
49 94383
56 94384
50 94385
50 94386
31 94388
50 94415
53 94424
54 94425
55 94426
56 94427
57 94428
58 94429
59 94438
20 94439
21 94440
22 94441
49 94442
49 94443
49 94444
57 94445
60 94446
61 94448
49 94449
57 94450
62 94451
61 94453
49 94454
57 94455
63 94456
61 94460
49 94462
57 94463
64 94464
23 95238
24 95239
49 95240
49 95241
56 95242
57 95242
65 95243
23 96017
24 96018
49 96019
49 96020
56 96021
57 96022
66 96023
23 96797
24 96798
49 96799
49 96800
56 96801
57 96802
67 96803
23 97576
24 97577
49 97578
49 97579
56 97580
50 97582
50 97583
31 97584
50 97611
53 97621
54 97622
55 97622
56 97623
57 97624
58 97626
59 97634
20 97635
21 97636
22 97637
49 97639
49 97640
49 97641
57 97642
60 97643
61 97645
49 97646
57 97647
62 97648
61 97650
49 97651
57 97652
63 97653
61 97658
49 97660
57 97661
64 97662
23 98436
24 98437
49 98438
49 98439
56 98440
57 98441
65 98442
23 99215
24 99216
49 99217
49 99218
56 99219
57 99220
66 99221
23 99995
24 99996
49 99997
49 99998
56 99999
57 100000
67 100001
23 100774
24 100775
49 100776
49 100777
56 100778
50 100780
50 100781
31 100782
50 100809
53 100819
54 100820
55 100821
56 100822
57 100823
58 100824
59 100832
20 100833
21 100834
22 100835
49 100837
49 100838
49 100839
57 100840
60 100841
61 100843
49 100844
57 100845
62 100846
61 100848
49 100849
57 100850
63 100851
61 100855
49 100856
57 100857
64 100858
23 101632
24 101633
49 101634
49 101635
56 101636
57 101637
65 101638
23 102412
24 102413
49 102414
49 102415
56 102416
57 102417
66 102418
23 103191
24 103192
49 103193
49 103194
56 103195
57 103196
67 103197
23 103971
24 103972
49 103973
49 103974
56 103975
50 103976
50 103977
31 103978
50 104006
53 104016
54 104016
55 104017
56 104018
57 104019
58 104021
59 104029
20 104030
21 104031
22 104032
49 104034
49 104035
49 104036
57 104037
60 104038
61 104040
49 104041
57 104042
62 104043
61 104044
49 104046
57 104047
63 104048
61 104053
49 104054
57 104055
64 104056
23 104830
24 104831
49 104832
49 104833
56 104834
57 104835
65 104836
23 105610
24 105611
49 105612
49 105613
56 105614
57 105615
66 105616
23 106389
24 106390
49 106391
49 106392
56 106393
57 106394
67 106395
23 107169
24 107177
49 107178
49 107179
56 107180
50 107182
50 107183
31 107184
50 107210
53 107219
54 107220
55 107220
56 107221
57 107222
58 107223
59 107232
20 107233
21 107234
22 107235
49 107236
49 107238
49 107239
57 107240
60 107241
61 107242
49 107243
57 107244
62 107245
61 107247
49 107248
57 107249
63 107250
61 107254
49 107256
57 107257
64 107258
68 107585
23 108032
24 108033
49 108034
49 108035
56 108035
57 108036
65 108037
23 108811
24 108812
49 108813
49 108814
56 108815
57 108816
66 108817
23 109590
24 109591
49 109592
49 109593
56 109594
57 109595
67 109596
23 110370
24 110371
49 110372
49 110373
56 110373
50 110375
50 110376
31 110377
50 110404
69 110405
51 110553
26 110555
53 110563
54 110564
55 110565
56 110566
57 110567
58 110568
59 110576
20 110577
21 110578
22 110579
49 110581
49 110582
49 110583
57 110584
60 110585
61 110586
49 110588
57 110588
62 110589
61 110591
49 110592
57 110593
63 110594
61 110600
49 110601
57 110602
64 110603
70 111310
71 111312
72 111313
23 111377
24 111378
49 111379
49 111380
56 111381
57 111382
65 111383
23 112157
24 112158
49 112159
49 112160
56 112160
57 112161
66 112162
23 112936
24 112937
49 112938
49 112939
56 112940
57 112941
67 112942
23 113715
24 113716
49 113717
49 113718
56 113719
50 113721

In [113]:
#### query the database


with Session.begin() as session:
    results = session.query(File_config).all()
    for i in results:
        print(i.code_base, i.version, i.behaviour, i.trial_num, i.id)

2024-07-25 15:16:24,963 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-25 15:16:24,966 INFO sqlalchemy.engine.Engine SELECT file_config.id AS file_config_id, file_config.unique_name AS file_config_unique_name, file_config.code_base AS file_config_code_base, file_config.version AS file_config_version, file_config.behaviour AS file_config_behaviour, file_config.trial_num AS file_config_trial_num
FROM file_config
2024-07-25 15:16:24,966 INFO sqlalchemy.engine.Engine [cached since 252.8s ago] ()
theft_protection 3 normal 1 3
theft_protection 3 faulty_data 1 4
theft_protection 3 faulty_data 2 5
theft_protection 3 faulty_data 3 6
mamba 3 normal 1 7
mamba 3 faulty_data 1 8
mamba 3 faulty_data 3 10
mamba 3 faulty_data 4 11
mamba 3 faulty_data 2 12
mamba 3 normal 2 13
mamba2 3 normal 1 14
mamba2 3 normal 2 15
mamba2 3 faulty_data 1 16
mamba2 3 faulty_data 2 17
mamba2 3 faulty_data 4 19
2024-07-25 15:16:24,968 INFO sqlalchemy.engine.Engine COMMIT

In [112]:
#### delete entries

# to_delete = 20

with Session.begin() as session:
    results = session.query(Event).all()
    file_deleted = False
    for i in results:
        if i.file_number == to_delete:
            print(i.name, i.timestamp, i.file_number, 'deleted')
            session.delete(i)
            file_deleted = True

    if not file_deleted:
        print('File config does not exist')

with Session.begin() as session:
    results = session.query(File_config).all()
    event_deleted = False
    for i in results:
        if i.id == to_delete:
            print(i.code_base, i.version, i.behaviour, i.trial_num, i.id, 'deleted')
            session.delete(i)
            event_deleted = True
            
    if not event_deleted:
        print('Event does not exist')

2024-07-25 15:16:13,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2024-07-25 15:16:13,108 INFO sqlalchemy.engine.Engine SELECT events.id AS events_id, events.name AS events_name, events.timestamp AS events_timestamp, events.file_number AS events_file_number
FROM events
2024-07-25 15:16:13,111 INFO sqlalchemy.engine.Engine [generated in 0.00334s] ()
0 10 20 deleted
1 13 20 deleted
2 14 20 deleted
3 15 20 deleted
4 16 20 deleted
5 18 20 deleted
6 19 20 deleted
7 20 20 deleted
8 21 20 deleted
9 22 20 deleted
10 23 20 deleted
11 24 20 deleted
12 25 20 deleted
13 26 20 deleted
14 28 20 deleted
15 29 20 deleted
16 30 20 deleted
17 31 20 deleted
18 32 20 deleted
19 33 20 deleted
20 35 20 deleted
21 36 20 deleted
22 37 20 deleted
23 38 20 deleted
24 39 20 deleted
25 40 20 deleted
26 42 20 deleted
27 43 20 deleted
28 44 20 deleted
29 45 20 deleted
30 47 20 deleted
31 48 20 deleted
30 51 20 deleted
32 54 20 deleted
33 56 20 deleted
34 66 20 deleted
35 91 20 deleted
36 118 20 deleted
37 143 20 deleted
38 304 20 deleted
39 306 20 deleted
40 307 20 deleted
41 309 20 deleted
42 310 20 deleted
43 311 20 deleted
44 313 20 deleted
45 314 20 deleted
46 315 20 deleted
47 316 20 deleted
48 318 20 deleted
49 320 20 deleted
50 322 20 deleted
51 325 20 deleted
52 326 20 deleted
53 341 20 deleted
54 343 20 deleted
55 344 20 deleted
56 345 20 deleted
57 347 20 deleted
58 348 20 deleted
59 353 20 deleted
49 355 20 deleted
49 356 20 deleted
49 357 20 deleted
57 358 20 deleted
60 359 20 deleted
61 361 20 deleted
49 362 20 deleted
57 363 20 deleted
62 364 20 deleted
61 366 20 deleted
49 368 20 deleted
57 369 20 deleted
63 370 20 deleted
61 374 20 deleted
49 376 20 deleted
57 376 20 deleted
64 377 20 deleted
23 1152 20 deleted
24 1153 20 deleted
49 1154 20 deleted
49 1155 20 deleted
56 1156 20 deleted
57 1157 20 deleted
65 1157 20 deleted
23 1932 20 deleted
24 1933 20 deleted
49 1934 20 deleted
49 1935 20 deleted
56 1936 20 deleted
57 1937 20 deleted
66 1938 20 deleted
23 2712 20 deleted
24 2713 20 deleted
49 2714 20 deleted
49 2715 20 deleted
56 2716 20 deleted
57 2717 20 deleted
67 2718 20 deleted
23 3492 20 deleted
24 3493 20 deleted
49 3494 20 deleted
49 3495 20 deleted
56 3496 20 deleted
50 3497 20 deleted
50 3498 20 deleted
31 3499 20 deleted
50 3526 20 deleted
53 3535 20 deleted
54 3536 20 deleted
55 3536 20 deleted
56 3537 20 deleted
57 3538 20 deleted
58 3540 20 deleted
59 3548 20 deleted
20 3549 20 deleted
21 3550 20 deleted
22 3551 20 deleted
49 3552 20 deleted
49 3553 20 deleted
49 3555 20 deleted
57 3556 20 deleted
60 3557 20 deleted
61 3558 20 deleted
49 3559 20 deleted
57 3560 20 deleted
62 3561 20 deleted
61 3563 20 deleted
49 3564 20 deleted
57 3565 20 deleted
63 3566 20 deleted
61 3572 20 deleted
49 3573 20 deleted
57 3574 20 deleted
64 3575 20 deleted
23 4349 20 deleted
24 4350 20 deleted
49 4351 20 deleted
49 4352 20 deleted
56 4353 20 deleted
57 4354 20 deleted
65 4355 20 deleted
23 5129 20 deleted
24 5130 20 deleted
49 5131 20 deleted
49 5132 20 deleted
56 5133 20 deleted
57 5134 20 deleted
66 5135 20 deleted
23 5908 20 deleted
24 5909 20 deleted
49 5910 20 deleted
49 5911 20 deleted
56 5912 20 deleted
57 5913 20 deleted
67 5914 20 deleted
23 6688 20 deleted
24 6689 20 deleted
49 6690 20 deleted
49 6691 20 deleted
56 6692 20 deleted
50 6693 20 deleted
50 6694 20 deleted
31 6695 20 deleted
50 6722 20 deleted
53 6731 20 deleted
54 6732 20 deleted
55 6733 20 deleted
56 6733 20 deleted
57 6735 20 deleted
58 6736 20 deleted
59 6744 20 deleted
20 6745 20 deleted
21 6746 20 deleted
22 6747 20 deleted
49 6748 20 deleted
49 6750 20 deleted
49 6751 20 deleted
57 6752 20 deleted
60 6753 20 deleted
61 6754 20 deleted
49 6755 20 deleted
57 6756 20 deleted
62 6757 20 deleted
61 6759 20 deleted
49 6760 20 deleted
57 6761 20 deleted
63 6762 20 deleted
61 6766 20 deleted
49 6768 20 deleted
57 6769 20 deleted
64 6770 20 deleted
23 7544 20 deleted
24 7545 20 deleted
49 7546 20 deleted
49 7547 20 deleted
56 7548 20 deleted
57 7548 20 deleted
65 7549 20 deleted
23 8323 20 deleted
24 8324 20 deleted
49 8325 20 deleted
49 8326 20 deleted
56 8327 20 deleted
57 8328 20 deleted
66 8329 20 deleted
23 9103 20 deleted
24 9104 20 deleted
49 9105 20 deleted
49 9106 20 deleted
56 9107 20 deleted
57 9108 20 deleted
67 9109 20 deleted
23 9882 20 deleted
24 9883 20 deleted
49 9884 20 deleted
49 9885 20 deleted
56 9886 20 deleted
50 9888 20 deleted
50 9889 20 deleted
31 9890 20 deleted
50 9917 20 deleted
53 9925 20 deleted
54 9926 20 deleted
55 9927 20 deleted
56 9928 20 deleted
57 9929 20 deleted
58 9930 20 deleted
59 9939 20 deleted
20 9940 20 deleted
21 9941 20 deleted
22 9942 20 deleted
49 9943 20 deleted
49 9944 20 deleted
49 9946 20 deleted
57 9947 20 deleted
60 9947 20 deleted
61 9949 20 deleted
49 9950 20 deleted
57 9951 20 deleted
62 9952 20 deleted
61 9954 20 deleted
49 9955 20 deleted
57 9956 20 deleted
63 9957 20 deleted
61 9963 20 deleted
49 9964 20 deleted
57 9965 20 deleted
64 9966 20 deleted
23 10740 20 deleted
24 10741 20 deleted
49 10742 20 deleted
49 10743 20 deleted
56 10744 20 deleted
57 10745 20 deleted
65 10746 20 deleted
23 11520 20 deleted
24 11521 20 deleted
49 11522 20 deleted
49 11523 20 deleted
56 11524 20 deleted
57 11525 20 deleted
66 11526 20 deleted
23 12299 20 deleted
24 12300 20 deleted
49 12301 20 deleted
49 12302 20 deleted
56 12303 20 deleted
57 12304 20 deleted
67 12305 20 deleted
23 13079 20 deleted
24 13080 20 deleted
49 13081 20 deleted
49 13082 20 deleted
56 13083 20 deleted
50 13084 20 deleted
50 13085 20 deleted
31 13086 20 deleted
50 13113 20 deleted
53 13122 20 deleted
54 13123 20 deleted
55 13124 20 deleted
56 13125 20 deleted
57 13126 20 deleted
58 13127 20 deleted
59 13135 20 deleted
20 13137 20 deleted
21 13137 20 deleted
22 13138 20 deleted
49 13140 20 deleted
49 13141 20 deleted
49 13142 20 deleted
57 13143 20 deleted
60 13144 20 deleted
61 13146 20 deleted
49 13147 20 deleted
57 13148 20 deleted
62 13149 20 deleted
61 13151 20 deleted
49 13152 20 deleted
57 13153 20 deleted
63 13154 20 deleted
61 13158 20 deleted
49 13159 20 deleted
57 13160 20 deleted
64 13161 20 deleted
23 13935 20 deleted
24 13936 20 deleted
49 13937 20 deleted
49 13938 20 deleted
56 13939 20 deleted
57 13940 20 deleted
65 13941 20 deleted
23 14715 20 deleted
24 14716 20 deleted
49 14717 20 deleted
49 14718 20 deleted
56 14719 20 deleted
57 14720 20 deleted
66 14721 20 deleted
23 15495 20 deleted
24 15496 20 deleted
49 15497 20 deleted
49 15498 20 deleted
56 15498 20 deleted
57 15499 20 deleted
67 15500 20 deleted
23 16274 20 deleted
24 16275 20 deleted
49 16276 20 deleted
49 16277 20 deleted
56 16278 20 deleted
50 16279 20 deleted
50 16280 20 deleted
31 16282 20 deleted
50 16308 20 deleted
53 16317 20 deleted
54 16318 20 deleted
55 16319 20 deleted
56 16320 20 deleted
57 16321 20 deleted
58 16322 20 deleted
59 16331 20 deleted
20 16332 20 deleted
21 16333 20 deleted
22 16334 20 deleted
49 16335 20 deleted
49 16336 20 deleted
49 16337 20 deleted
57 16338 20 deleted
60 16339 20 deleted
61 16341 20 deleted
49 16342 20 deleted
57 16343 20 deleted
62 16344 20 deleted
61 16346 20 deleted
49 16347 20 deleted
57 16348 20 deleted
63 16349 20 deleted
61 16354 20 deleted
49 16356 20 deleted
57 16357 20 deleted
64 16358 20 deleted
23 17132 20 deleted
24 17133 20 deleted
49 17134 20 deleted
49 17135 20 deleted
56 17136 20 deleted
57 17137 20 deleted
65 17138 20 deleted
23 17912 20 deleted
24 17913 20 deleted
49 17914 20 deleted
49 17915 20 deleted
56 17916 20 deleted
57 17917 20 deleted
66 17917 20 deleted
23 18691 20 deleted
24 18692 20 deleted
49 18693 20 deleted
49 18694 20 deleted
56 18695 20 deleted
57 18696 20 deleted
67 18697 20 deleted
23 19471 20 deleted
24 19472 20 deleted
49 19473 20 deleted
49 19474 20 deleted
56 19475 20 deleted
50 19476 20 deleted
50 19477 20 deleted
31 19478 20 deleted
50 19505 20 deleted
53 19514 20 deleted
54 19515 20 deleted
55 19516 20 deleted
56 19517 20 deleted
57 19518 20 deleted
58 19519 20 deleted
59 19528 20 deleted
20 19529 20 deleted
21 19530 20 deleted
22 19531 20 deleted
49 19532 20 deleted
49 19533 20 deleted
49 19534 20 deleted
57 19535 20 deleted
60 19536 20 deleted
61 19538 20 deleted
49 19539 20 deleted
57 19540 20 deleted
62 19541 20 deleted
61 19543 20 deleted
49 19544 20 deleted
57 19545 20 deleted
63 19546 20 deleted
61 19550 20 deleted
49 19552 20 deleted
57 19553 20 deleted
64 19554 20 deleted
23 20328 20 deleted
24 20329 20 deleted
49 20330 20 deleted
49 20331 20 deleted
56 20331 20 deleted
57 20332 20 deleted
65 20333 20 deleted
23 21107 20 deleted
24 21108 20 deleted
49 21109 20 deleted
49 21110 20 deleted
56 21111 20 deleted
57 21112 20 deleted
66 21113 20 deleted
23 21887 20 deleted
24 21888 20 deleted
49 21889 20 deleted
49 21890 20 deleted
56 21891 20 deleted
57 21892 20 deleted
67 21893 20 deleted
23 22666 20 deleted
24 22667 20 deleted
49 22668 20 deleted
49 22669 20 deleted
56 22670 20 deleted
50 22672 20 deleted
50 22673 20 deleted
31 22674 20 deleted
50 22701 20 deleted
53 22710 20 deleted
54 22711 20 deleted
55 22712 20 deleted
56 22713 20 deleted
57 22714 20 deleted
58 22715 20 deleted
59 22723 20 deleted
20 22725 20 deleted
21 22725 20 deleted
22 22726 20 deleted
49 22728 20 deleted
49 22729 20 deleted
49 22730 20 deleted
57 22731 20 deleted
60 22732 20 deleted
61 22734 20 deleted
49 22735 20 deleted
57 22736 20 deleted
62 22737 20 deleted
61 22739 20 deleted
49 22740 20 deleted
57 22741 20 deleted
63 22742 20 deleted
61 22747 20 deleted
49 22748 20 deleted
57 22749 20 deleted
64 22750 20 deleted
23 23524 20 deleted
24 23525 20 deleted
49 23526 20 deleted
49 23527 20 deleted
56 23528 20 deleted
57 23529 20 deleted
65 23530 20 deleted
23 24304 20 deleted
24 24305 20 deleted
49 24306 20 deleted
49 24307 20 deleted
56 24308 20 deleted
57 24309 20 deleted
66 24310 20 deleted
23 25084 20 deleted
24 25085 20 deleted
49 25086 20 deleted
49 25087 20 deleted
56 25088 20 deleted
57 25088 20 deleted
67 25089 20 deleted
23 25863 20 deleted
24 25864 20 deleted
49 25865 20 deleted
49 25866 20 deleted
56 25867 20 deleted
50 25868 20 deleted
50 25869 20 deleted
31 25871 20 deleted
50 25897 20 deleted
53 25907 20 deleted
54 25908 20 deleted
55 25909 20 deleted
56 25910 20 deleted
57 25911 20 deleted
58 25912 20 deleted
59 25920 20 deleted
20 25922 20 deleted
21 25922 20 deleted
22 25923 20 deleted
49 25925 20 deleted
49 25926 20 deleted
49 25927 20 deleted
57 25928 20 deleted
60 25929 20 deleted
61 25931 20 deleted
49 25932 20 deleted
57 25933 20 deleted
62 25934 20 deleted
61 25936 20 deleted
49 25937 20 deleted
57 25938 20 deleted
63 25939 20 deleted
61 25943 20 deleted
49 25945 20 deleted
57 25946 20 deleted
64 25946 20 deleted
23 26720 20 deleted
24 26721 20 deleted
49 26722 20 deleted
49 26723 20 deleted
56 26724 20 deleted
57 26725 20 deleted
65 26726 20 deleted
23 27500 20 deleted
24 27501 20 deleted
49 27502 20 deleted
49 27503 20 deleted
56 27504 20 deleted
57 27505 20 deleted
66 27506 20 deleted
23 28280 20 deleted
24 28281 20 deleted
49 28282 20 deleted
49 28283 20 deleted
56 28284 20 deleted
57 28285 20 deleted
67 28286 20 deleted
23 29059 20 deleted
24 29060 20 deleted
49 29061 20 deleted
49 29062 20 deleted
56 29063 20 deleted
50 29064 20 deleted
50 29066 20 deleted
31 29067 20 deleted
50 29094 20 deleted
53 29103 20 deleted
54 29104 20 deleted
55 29105 20 deleted
56 29106 20 deleted
57 29107 20 deleted
58 29108 20 deleted
59 29117 20 deleted
20 29118 20 deleted
21 29119 20 deleted
22 29120 20 deleted
49 29121 20 deleted
49 29122 20 deleted
49 29123 20 deleted
57 29124 20 deleted
60 29125 20 deleted
61 29127 20 deleted
49 29128 20 deleted
57 29129 20 deleted
62 29130 20 deleted
61 29132 20 deleted
49 29133 20 deleted
57 29134 20 deleted
63 29135 20 deleted
61 29141 20 deleted
49 29142 20 deleted
57 29143 20 deleted
64 29144 20 deleted
23 29918 20 deleted
24 29919 20 deleted
49 29920 20 deleted
49 29921 20 deleted
56 29922 20 deleted
57 29923 20 deleted
65 29924 20 deleted
68 30324 20 deleted
23 30698 20 deleted
24 30699 20 deleted
49 30700 20 deleted
49 30701 20 deleted
56 30702 20 deleted
57 30703 20 deleted
66 30704 20 deleted
23 31477 20 deleted
24 31478 20 deleted
49 31479 20 deleted
49 31480 20 deleted
56 31481 20 deleted
57 31482 20 deleted
67 31483 20 deleted
23 32257 20 deleted
24 32258 20 deleted
49 32259 20 deleted
49 32260 20 deleted
56 32261 20 deleted
50 32262 20 deleted
50 32263 20 deleted
31 32264 20 deleted
50 32291 20 deleted
69 32293 20 deleted
51 32442 20 deleted
26 32444 20 deleted
53 32453 20 deleted
54 32454 20 deleted
55 32455 20 deleted
56 32456 20 deleted
57 32457 20 deleted
58 32458 20 deleted
59 32467 20 deleted
20 32468 20 deleted
21 32469 20 deleted
22 32470 20 deleted
49 32471 20 deleted
49 32472 20 deleted
49 32473 20 deleted
57 32474 20 deleted
60 32475 20 deleted
61 32477 20 deleted
49 32478 20 deleted
57 32479 20 deleted
62 32480 20 deleted
61 32482 20 deleted
49 32483 20 deleted
57 32484 20 deleted
63 32485 20 deleted
61 32489 20 deleted
49 32491 20 deleted
57 32492 20 deleted
64 32493 20 deleted
70 33070 20 deleted
23 33267 20 deleted
24 33268 20 deleted
49 33269 20 deleted
49 33270 20 deleted
56 33271 20 deleted
57 33272 20 deleted
65 33273 20 deleted
23 34047 20 deleted
24 34048 20 deleted
49 34049 20 deleted
49 34050 20 deleted
56 34051 20 deleted
57 34052 20 deleted
66 34053 20 deleted
23 34826 20 deleted
24 34827 20 deleted
49 34828 20 deleted
49 34829 20 deleted
56 34830 20 deleted
57 34831 20 deleted
67 34832 20 deleted
23 35606 20 deleted
24 35607 20 deleted
49 35608 20 deleted
49 35609 20 deleted
56 35610 20 deleted
50 35611 20 deleted
50 35612 20 deleted
31 35613 20 deleted
50 35641 20 deleted
69 35642 20 deleted
51 35791 20 deleted
26 35793 20 deleted
53 35802 20 deleted
54 35803 20 deleted
55 35804 20 deleted
56 35805 20 deleted
57 35806 20 deleted
58 35807 20 deleted
59 35816 20 deleted
20 35817 20 deleted
21 35818 20 deleted
22 35819 20 deleted
49 35820 20 deleted
49 35821 20 deleted
49 35823 20 deleted
57 35824 20 deleted
60 35825 20 deleted
61 35826 20 deleted
49 35828 20 deleted
57 35829 20 deleted
62 35830 20 deleted
61 35831 20 deleted
49 35833 20 deleted
57 35834 20 deleted
63 35834 20 deleted
61 35840 20 deleted
49 35841 20 deleted
57 35842 20 deleted
64 35843 20 deleted
70 36433 20 deleted
23 36617 20 deleted
24 36618 20 deleted
49 36619 20 deleted
49 36620 20 deleted
56 36621 20 deleted
57 36622 20 deleted
65 36623 20 deleted
23 37398 20 deleted
24 37398 20 deleted
49 37400 20 deleted
49 37401 20 deleted
56 37402 20 deleted
57 37402 20 deleted
66 37403 20 deleted
23 38177 20 deleted
24 38178 20 deleted
49 38179 20 deleted
49 38180 20 deleted
56 38181 20 deleted
57 38182 20 deleted
67 38183 20 deleted
23 38957 20 deleted
24 38958 20 deleted
49 38959 20 deleted
49 38960 20 deleted
56 38961 20 deleted
50 38962 20 deleted
50 38963 20 deleted
31 38964 20 deleted
50 38992 20 deleted
69 38993 20 deleted
51 39149 20 deleted
26 39151 20 deleted
53 39161 20 deleted
54 39162 20 deleted
55 39163 20 deleted
56 39164 20 deleted
57 39165 20 deleted
58 39166 20 deleted
59 39175 20 deleted
20 39176 20 deleted
21 39177 20 deleted
22 39178 20 deleted
49 39179 20 deleted
49 39180 20 deleted
49 39181 20 deleted
57 39182 20 deleted
60 39183 20 deleted
61 39185 20 deleted
49 39186 20 deleted
57 39187 20 deleted
62 39188 20 deleted
61 39190 20 deleted
49 39191 20 deleted
57 39192 20 deleted
63 39193 20 deleted
61 39198 20 deleted
49 39199 20 deleted
57 39200 20 deleted
64 39201 20 deleted
70 39792 20 deleted
23 39975 20 deleted
24 39976 20 deleted
49 39977 20 deleted
49 39978 20 deleted
56 39979 20 deleted
57 39980 20 deleted
65 39981 20 deleted
23 40755 20 deleted
24 40756 20 deleted
49 40757 20 deleted
49 40758 20 deleted
56 40759 20 deleted
57 40760 20 deleted
66 40761 20 deleted
23 41535 20 deleted
24 41536 20 deleted
49 41537 20 deleted
49 41538 20 deleted
56 41539 20 deleted
57 41540 20 deleted
67 41541 20 deleted
23 42314 20 deleted
24 42315 20 deleted
49 42316 20 deleted
49 42317 20 deleted
56 42318 20 deleted
50 42320 20 deleted
50 42321 20 deleted
31 42322 20 deleted
50 42349 20 deleted
69 42350 20 deleted
51 42501 20 deleted
28 42503 20 deleted
29 42504 20 deleted
26 42505 20 deleted
53 42514 20 deleted
54 42515 20 deleted
55 42516 20 deleted
56 42517 20 deleted
57 42518 20 deleted
58 42520 20 deleted
59 42528 20 deleted
20 42530 20 deleted
21 42531 20 deleted
22 42531 20 deleted
49 42533 20 deleted
49 42534 20 deleted
49 42535 20 deleted
57 42536 20 deleted
60 42537 20 deleted
61 42539 20 deleted
49 42540 20 deleted
57 42541 20 deleted
62 42542 20 deleted
61 42544 20 deleted
49 42545 20 deleted
57 42546 20 deleted
63 42547 20 deleted
61 42552 20 deleted
49 42554 20 deleted
57 42555 20 deleted
64 42556 20 deleted
70 43153 20 deleted
23 43330 20 deleted
24 43331 20 deleted
49 43332 20 deleted
49 43333 20 deleted
56 43334 20 deleted
57 43335 20 deleted
65 43336 20 deleted
23 44110 20 deleted
24 44111 20 deleted
49 44112 20 deleted
49 44113 20 deleted
56 44114 20 deleted
57 44115 20 deleted
66 44116 20 deleted
23 44890 20 deleted
24 44891 20 deleted
49 44892 20 deleted
49 44893 20 deleted
56 44894 20 deleted
57 44895 20 deleted
67 44896 20 deleted
23 45669 20 deleted
24 45670 20 deleted
49 45671 20 deleted
49 45672 20 deleted
56 45673 20 deleted
50 45675 20 deleted
50 45676 20 deleted
31 45677 20 deleted
50 45704 20 deleted
69 45705 20 deleted
51 45854 20 deleted
28 45856 20 deleted
29 45857 20 deleted
26 45859 20 deleted
53 45868 20 deleted
54 45869 20 deleted
55 45870 20 deleted
56 45871 20 deleted
57 45872 20 deleted
58 45873 20 deleted
59 45882 20 deleted
20 45883 20 deleted
21 45884 20 deleted
22 45885 20 deleted
49 45886 20 deleted
49 45887 20 deleted
49 45888 20 deleted
57 45889 20 deleted
60 45890 20 deleted
61 45892 20 deleted
49 45893 20 deleted
57 45894 20 deleted
62 45895 20 deleted
61 45897 20 deleted
49 45898 20 deleted
57 45899 20 deleted
63 45900 20 deleted
61 45905 20 deleted
49 45906 20 deleted
57 45907 20 deleted
64 45908 20 deleted
70 46516 20 deleted
23 46682 20 deleted
24 46683 20 deleted
49 46684 20 deleted
49 46685 20 deleted
56 46686 20 deleted
57 46687 20 deleted
65 46688 20 deleted
23 47462 20 deleted
24 47463 20 deleted
49 47464 20 deleted
49 47465 20 deleted
56 47466 20 deleted
57 47467 20 deleted
66 47468 20 deleted
23 48242 20 deleted
24 48243 20 deleted
49 48244 20 deleted
49 48245 20 deleted
56 48246 20 deleted
57 48247 20 deleted
67 48248 20 deleted
23 49022 20 deleted
24 49023 20 deleted
49 49024 20 deleted
49 49025 20 deleted
56 49026 20 deleted
50 49027 20 deleted
50 49028 20 deleted
31 49029 20 deleted
50 49057 20 deleted
69 49058 20 deleted
51 49207 20 deleted
26 49209 20 deleted
53 49219 20 deleted
54 49220 20 deleted
55 49221 20 deleted
56 49222 20 deleted
57 49223 20 deleted
58 49224 20 deleted
59 49233 20 deleted
20 49234 20 deleted
21 49235 20 deleted
22 49236 20 deleted
49 49237 20 deleted
49 49238 20 deleted
49 49240 20 deleted
57 49240 20 deleted
60 49241 20 deleted
61 49243 20 deleted
49 49244 20 deleted
57 49245 20 deleted
62 49246 20 deleted
61 49248 20 deleted
49 49249 20 deleted
57 49250 20 deleted
63 49251 20 deleted
61 49257 20 deleted
49 49258 20 deleted
57 49259 20 deleted
64 49260 20 deleted
70 49880 20 deleted
23 50034 20 deleted
24 50035 20 deleted
49 50036 20 deleted
49 50037 20 deleted
56 50038 20 deleted
57 50039 20 deleted
65 50040 20 deleted
23 50814 20 deleted
24 50815 20 deleted
49 50816 20 deleted
49 50817 20 deleted
56 50818 20 deleted
57 50819 20 deleted
66 50820 20 deleted
23 51594 20 deleted
24 51595 20 deleted
49 51596 20 deleted
49 51597 20 deleted
56 51598 20 deleted
57 51599 20 deleted
67 51600 20 deleted
23 52374 20 deleted
24 52374 20 deleted
49 52376 20 deleted
49 52376 20 deleted
56 52377 20 deleted
50 52379 20 deleted
50 52380 20 deleted
31 52381 20 deleted
50 52409 20 deleted
69 52410 20 deleted
51 52559 20 deleted
26 52561 20 deleted
53 52570 20 deleted
54 52571 20 deleted
55 52572 20 deleted
56 52573 20 deleted
57 52575 20 deleted
70 52596 20 deleted
58 52598 20 deleted
59 52607 20 deleted
20 52608 20 deleted